@mixin pseudo($display: block) {
    display: $display;
    content: '\0020';
}

.clearfix {
    &:after {
        @include pseudo;
        height: 0;
        overflow: hidden;
        clear: both;
        }
    }

@mixin reset_input {
    padding: 0;
    margin: 0;
    border-radius: 0;
    -webkit-appearance: none;
}

@mixin arrow($side, $color, $width) {
    border-style: solid;
    border-color: transparent;
    border-width: $width;
    border-#{$side}-color: $color;
    }

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder { /* Firefox 18- */
        @content;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

@function unpack($shorthand) {
    @if length($shorthand) == 1 {
        @return nth($shorthand, 1) nth($shorthand, 1) nth($shorthand, 1) nth($shorthand, 1);
    }
    @else if length($shorthand) == 2 {
        @return nth($shorthand, 1) nth($shorthand, 2) nth($shorthand, 1) nth($shorthand, 2);
    }
    @else if length($shorthand) == 3 {
        @return nth($shorthand, 1) nth($shorthand, 2) nth($shorthand, 3) nth($shorthand, 2);
    }
    @else {
        @return $shorthand;
    }
}

@mixin position ($position: relative, $coordinates: null null null null) {

    @if type-of($position) == list {
        $coordinates: $position;
        $position: relative;
    }

    $coordinates: unpack($coordinates);

    $top: nth($coordinates, 1);
    $right: nth($coordinates, 2);
    $bottom: nth($coordinates, 3);
    $left: nth($coordinates, 4);

    position: $position;

    @if ($top and $top == auto) or (type-of($top) == number) {
        top: $top;
    }

    @if ($right and $right == auto) or (type-of($right) == number) {
        right: $right;
    }

    @if ($bottom and $bottom == auto) or (type-of($bottom) == number) {
        bottom: $bottom;
    }

    @if ($left and $left == auto) or (type-of($left) == number) {
        left: $left;
    }
}

@mixin transit_fn($k: 1) {
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    @content;
    }

@mixin transit($k: 1) {
    @include transit_fn($k);
    transition-duration: .1s * $k;
    @content;
    }
