.bottom-footer
  .inner
    .social-bottom-footer
      a.item_twitter-social-bottom-footer(href="")
      a.item_blog-social-bottom-footer(href="")
      a.item_wiki-social-bottom-footer(href="")
    .copyright-bottom-footer © Virt2Real 2011-2014  ООО «Виртуриал» Россия, Москва
