// .cont-footer
.cont-footer
  .inner

    // .social-cont-footer
    .social-cont-footer
      .title_twitter-cont-footer
      ul.list-cont-footer
        li
          .meta-cont-footer
            span @virt2real
            time(datetime="{timestamp}") 18 мин
          p
            |Свежая HD прошивка&nbsp;
            a(href="") http://forum.virt2real.ru/viewtopi…
        li
          .meta-cont-footer
            span @wired_magazine RT @virt2real
            time(datetime="{timestamp}") вчера
          p Новую прошивку выложил, но описание уж завтра писать буду.Прошивка HD.Уж не знаю, делать ли обычную (для видео 640х480) или ну её нафиг.
    // /.social-cont-footer

    // .blog-cont-footer
    .blog-cont-footer
      .title-cont-footer Блог
      ul.list-cont-footer
        li
          .meta-cont-footer: time(datatime="") вчера
          p: a(href="") Модуль HDMI-in — эксперимент с нано-краудфандингом
        li
          .meta-cont-footer: time(datatime="") 10 июня
          p: a(href="") Discovery «You have been warned»
        li
          .meta-cont-footer: time(datatime="") 2 июня
          p: a(href="") Виртурилка для чайников — статья вторая
    // /.blog-cont-footer

    // .contacts-cont-footer
    .contacts-cont-footer
      .title-cont-footer Контакты
      .mail-contacts-cont-footer
        a(href="mailto:info@virt2real.ru") info@virt2real.ru
      .phone-contacts-cont-footer +7 (812) 920-28-54
      form.subscr-contacts-cont-footer
        input(type="email" placeholder="Оставьте email для новости")
    // /.contacts-cont-footer

// /.cont-footer
