meta(charset="utf-8")

title
meta(name="description" content="")

meta(name="viewport" content="width=device-width,initial-scale=1.0,minimal-ui")
link(href="/favicon.ico" rel="icon" type="image/x-icon")

link(href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic" rel="stylesheet")
link(href="http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,cyrillic" rel="stylesheet")
link(rel="stylesheet" href="stylesheets/main.css")
script(src="javascripts/main.js")
