.menu
  a.logo-menu(href="main.html")
  ul.nav-menu
    li: a(href="kit_geek.html") geek kit
    li: a(href="kit_pro.html") pro kit
    li: a(href="kit_industrial.html") industrial kit
    li: a(href="kit_options.html") options
    li: a(href="support.html") поддержка
    li: a(href="") блог
    li: a(href="about.html") контакты
