mixin navKit(type)
  ul.nav-section_kit
    li(class=type=='geek'?'_active':''): a(href="kit_geek.html") GEEK KӏT
    li(class=type=='pro'?'_active':''): a(href="kit_pro.html") PRO KӏT
    li(class=type=='industrial'?'_active':''): a(href="kit_industrial.html") ӏNDUSTRӏAL KӏT
    li(class=type=='options'?'_active':''): a(href="kit_options.html") OPTӏONS
