mixin preorder_pro(type)
  .item-types-preorder.item_pro-types-preorder(class=type == 'pro' ? '_mark' : '')
    .flipper._custom
      .cont-flipper

        .front-flipper(data-type='preview')
          h3.name-types-preorder.t_title: a(href="kit_pro.html#preorder") PRO KӏT
          p.descr-types-preorder Комплект для реализации проектов с использованием Virt2Real в качестве основной платы индустриального уровня в готовом виде
          .list-types-preorder
            ul
              li Плата virt2real
              li Модуль Wi-Fi
              li Модуль камеры
              li._count: b &times;2
            ul
              li Отладочная плата
              li Модуль захвата аналогового видео
              li Модуль захвата видео HDMI
              li Motorshield
              li Внешний разъем Ethernet
              li Релейный модуль
          .footer-types-preorder
            .cost-types-preorder <strong>5900</strong> ⃏
            a.start-types-preorder(href="kit_pro.html#preorder" class=type == 'pro' ? 'js-flipper-hand' : '') Оформить предзаказ
            .descr-footer-types-preorder при оформлении предзаказа скидка составит 10%

        .back-flipper._hid(data-type='complete')
          h3.name-types-preorder._back.t_title PRO KӏT
          p.thanx-types-preorder
            strong СПАСИБО!
            span Мы с вами свяжемся в самое ближайшее время и сообщим когда возможно будет получить комплект
          .close-types-preorder.js-preorder-close

        .back-flipper(data-type='form')
          h3.name-types-preorder._back.t_title: a(href="kit_geek.html#preorder") PRO KӏT
          form.form-types-preorder
            .cols-form-types-preorder
              .col_l-form-types-preorder
                .title-fullform-preorder Контактные данные
                input(type="name" placeholder="Имя")
                input(type="email" placeholder="e-mail")
              .col_r-form-types-preorder
                .title-fullform-preorder Количество
                select(name='asd')
                  option 1
                  option 2
                  option 3
                  option 4
                  option 5
            input(type="checkbox" checked=true id="fullform-preorder_pro")
            label(for="fullform-preorder_pro") Я согласен получать важные новости по почте
            .title-fullform-preorder Комментарий
            textarea

            .close-types-preorder.js-flipper-hand
            .footer-types-preorder
              .cost-types-preorder <strong>5900</strong> ⃏
              button.start_send-types-preorder Отправить
              .descr-footer-types-preorder при оформлении предзаказа скидка составит 10%
