mixin preorder_industrial(type)
  .item-types-preorder.item_industrial-types-preorder(class=type == 'industrial' ? '_mark' : '')
    .flipper._custom
      .cont-flipper

        .front-flipper(data-type='preview')
          h3.name-types-preorder.t_title: a(href="kit_industrial.html#preorder") ӏNDUSTRӏAL KӏT
          p.descr-types-preorder Программно-аппаратная платформа для компаний производящих умные устройства большими тиражами
          ul.list-types-preorder
            li Pro Kit
            li Техдокументация на производство<br><em>(BOM, герберы и прочее)</em>
            li 12 часов консалтинга
            li Доступ к исходным кодам специализированного закрытого ПО<br><em>(iOS, Android, Windows, серверы коммуникаций)</em>
            li В рамках некоторых производственных контрактов возможно предоставление принципиальной схемы
          .footer-types-preorder
            .cost-types-preorder <span>от</span> <strong>100900</strong> ⃏
            a.start-types-preorder(href="kit_industrial.html#preorder" class=type == 'industrial' ? 'js-flipper-hand' : '') Оставить заявку
            .descr-footer-types-preorder при оформлении предзаказа скидка составит 10%

        .back-flipper._hid(data-type='complete')
          h3.name-types-preorder._back.t_title ӏNDUSTRӏAL KӏT
          p.thanx-types-preorder
            strong СПАСИБО!
            span Мы с вами свяжемся в самое ближайшее время и сообщим когда возможно будет получить комплект
          .close-types-preorder.js-preorder-close

        .back-flipper(data-type='form')
          h3.name-types-preorder._back.t_title: a(href="kit_geek.html#preorder") ӏNDUSTRӏAL KӏT
          form.form-types-preorder
            .cols-form-types-preorder
              .col_l-form-types-preorder
                .title-fullform-preorder Контактные данные
                input(type="name" placeholder="Имя")
                input(type="email" placeholder="e-mail")
              .col_r-form-types-preorder
                .title-fullform-preorder Количество
                select(name='asd')
                  option 1
                  option 2
                  option 3
                  option 4
                  option 5
            input(type="checkbox" checked=true id="fullform-preorder_industrial")
            label(for="fullform-preorder_industrial") Я согласен получать важные новости по почте
            .title-fullform-preorder Комментарий
            textarea

            .close-types-preorder.js-flipper-hand
            .footer-types-preorder
              .cost-types-preorder <span>от</span> <strong>100900</strong> ⃏
              button.start_send-types-preorder Отправить
              .descr-footer-types-preorder при оформлении предзаказа скидка составит 10%
