mixin preorder_geek(type)
  .item-types-preorder.item_geek-types-preorder(class=type == 'geek' ? '_mark' : '')
    .flipper._custom
      .cont-flipper

        .front-flipper(data-type='preview')
          h3.name-types-preorder.t_title: a(href="kit_geek.html#preorder") GEEK KӏT
          p.descr-types-preorder Комплект для реализации экспериментальных решений собственных проектов
          ul.list-types-preorder
            li Плата virt2real
            li Модуль Wi-Fi
            li Модуль камеры
          .footer-types-preorder
            .cost-types-preorder <strong>2900</strong> ⃏
            a.start-types-preorder(href="kit_geek.html#preorder" class=type == 'geek' ? 'js-flipper-hand' : '') Оформить предзаказ
            .descr-footer-types-preorder при оформлении предзаказа скидка составит 10%

        .back-flipper._hid(data-type='complete')
          h3.name-types-preorder._back.t_title GEEK KӏT
          p.thanx-types-preorder
            strong СПАСИБО!
            span Мы с вами свяжемся в самое ближайшее время и сообщим когда возможно будет получить комплект
          .close-types-preorder.js-preorder-close

        .back-flipper(data-type='form')
          h3.name-types-preorder._back.t_title: a(href="kit_geek.html#preorder") GEEK KӏT
          form.form-types-preorder
            .cols-form-types-preorder
              .col_l-form-types-preorder
                .title-fullform-preorder Контактные данные
                input(type="name" placeholder="Имя")
                input(type="email" placeholder="e-mail")
              .col_r-form-types-preorder
                .title-fullform-preorder Количество
                select(name='asd')
                  option 1
                  option 2
                  option 3
                  option 4
                  option 5
            input(type="checkbox" checked=true id="fullform-preorder_geek")
            label(for="fullform-preorder_geek") Я согласен получать важные новости по почте
            .title-fullform-preorder Комментарий
            textarea

            .close-types-preorder.js-flipper-hand
            .footer-types-preorder
              .cost-types-preorder <strong>2900</strong> ⃏
              button.start_send-types-preorder Отправить
              .descr-footer-types-preorder при оформлении предзаказа скидка составит 10%
