include ./_preorder_geek
include ./_preorder_pro
include ./_preorder_industrial

mixin preorder(type)
  .preorder.b_image#preorder
    h1.title-preorder.t_title Предзаказ

    if type=='options'
      p.descr_full-preorder На данный момент дополнительных модулей нет в наличии,<br>но вы можете оформить предзаказ и мы свяжемся с вами как только они появятся
      // .fullform-preorder
      form.fullform-preorder
        .title-fullform-preorder Контактные данные
        input(type="name" placeholder="Имя")
        input(type="email" placeholder="e-mail")
        input(type="checkbox" checked=true id="fullform-preorder")
        label(for="fullform-preorder") Я согласен получать важные новости и лучшие предложения по почте

        .title_top-fullform-preorder Заказ и комментарии
        textarea(placeholder="" value="Мой заказ:")

        button Отправить
      // /.fullform-preorder
    else
      p.descr-preorder На данный момент комплектов нет в наличии, но вы можете оформить предзаказ

      // .types-preorder
      .types-preorder

        // .item_geek-types-preorder
        +preorder_geek(type)
        // /.item_geek-types-preorder

        // .item_pro-types-preorder
        +preorder_pro(type)
        // /.item_pro-types-preorder

        // .item_industrial-types-preorder
        +preorder_industrial(type)
        // /.item_industrial-types-preorder

      // /.types-preorder
