extends ./template/layout/main

block body
  include ./template/modules/menu

  // section.section.bgImg.section_about.section_top
  section.section.bgImg.section_about.section_top
    .descr-section_about Мы — команда профессионалов, занимающихся разработкой сложных решений для удаленного управления устройствами с видеонаблюдением происходящего.

  // /section.section.bgImg.section_about.section_top

  // section.section_authors
  section.section_full.section_authors
    ul.list-section_authors
      li.item-section_authors
        .cont-item-section_authors
          strong Евгений помазов
          .postname-item-section_authors СEO/Основатель Virt2Real
          p.descr-item-section_authors Управлением компанией, взаимодействие с партнерами<br>и подрядчиками для доведения проектов до конечного этапа.
        img.img-item-section_authors(src="images/section_authors-01.jpg" alt="")
      li.item-section_authors
        .cont-item-section_authors
          strong Сергей Серов
          .postname-item-section_authors R&D/Основатель Virt2Real
          p.descr-item-section_authors Разработка программного обеспечения, сборка<br>прототипов и доведение их до запуска в реализацию.
        img.img-item-section_authors(src="images/section_authors-02.jpg" alt="")
      li.item-section_authors
        .cont-item-section_authors
          strong Александр Шадрин
          .postname-item-section_authors CTO/Основатель Virt2Real
          p.descr-item-section_authors Низкоуровневое программирование, аппаратные<br>разработки, контроль выпуска прототипов и производства.
        img.img-item-section_authors(src="images/section_authors-03.jpg" alt="")
      li.item-section_authors
        .cont-item-section_authors
          strong Максим Крентовский
          .postname-item-section_authors R&D
          p.descr-item-section_authors Разработка программного обеспечения под Linux.
        img.img-item-section_authors(src="images/section_authors-04.jpg" alt="")
  // /section.section.bgImg.section_authors

  // section.section_full.section_pair
  section.section_full.section_pair

    // .half-section_pair (History)
    .half-section_pair.section_history
      h2.title-section_pair История проекта
      p.descr-section_history Все участники проекта еще со времен института увлекались программированием и построением различных управляемых устройств.

      // Info for dots
      // For control side use `_left` or `_right` classes
      // For control position use `_dot-{$num}`, where $num - number of timilines dot
      .timeline-section_history
        .year-timeline-section_history
          strong 2010
          p._right._dot-10 Сергей Серов делает проект веб-камеры, управляемой через интернет.
          p._left._dot-11 Сергей знакомится с Евгением, и, купив в его магазине mikrogonki.ru несколько микромашинок, делает их управляемыми с сотового телефона
        .year-timeline-section_history
          strong 2011
          p._right._dot-5 Совместный проект — гонки через интернет<br>на реальных машинках
          p._left._dot-6 Сформировалась идея сделать свой контроллер.<br>К команде примкнул Александр для разработки аппаратной части.
        .year-timeline-section_history
          strong 2012
          p._right._dot-4 Получены первые 10 инженерных образцов контроллера, начато тестирование и создание ПО.
          p._left._dot-9 Мы сообщили на хабрахабре о создании virt2real
          p._right._dot-11 Мы решили посчитать, сколько человек готово купить виртурилку, и начали сбор предзаказов (без предоплаты).  Всего было собрано около 2000 предзаказов, об этом писали СМИ.
        .year-timeline-section_history
          strong 2013
          p._left._dot-3 Сделана "Тачка Бонда", о чем сообщили многие российские и зарубежные интернет-СМИ и ТВ.
          p._right._dot-4 Начат сбор реальных заказов<br>на виртурилку и процесс производства.
          p._left._dot-6 Тираж пришел в Россию.<br>Начаты отгрузки контроллера.
          p._right._dot-7 Включены ресурсы с техдокументацией<br>wiki.virt2real.ru и forum.virt2real.ru
        .year-timeline-section_history
          strong 2014

    // /.half-section_pair (History)

    // .half-section_pair (Press)
    .half-section_pair.section_press
      h2.title-section_pair Пресса о нас
      ul
        //- - [01,02,03,04,05,06,07,08,09].each do |num|
        li: include ./images/fish/press-01.svg
        li: include ./images/fish/press-02.svg
        li: include ./images/fish/press-03.svg
        li: include ./images/fish/press-04.svg
        li: include ./images/fish/press-05.svg
        li: include ./images/fish/press-06.svg
        li: include ./images/fish/press-07.svg
        li: include ./images/fish/press-08.svg
        li: include ./images/fish/press-09.svg

      a.save-section_press(href="") Скачать медиа-кит

    // /.half-section_pair (Press)

  // /section.section_full.section_pair

  // section.section.bgImg.section_contacts
  section.section.bgImg.section_contacts
    .table-section_contacts
      .cell-section_contacts
        .cont-section_contacts
          h2.title-section_pair Контакты

          .block-section_contacts
            p По вопросам инвестирования
            p +7 495 223-45-45
            p: a(href="") invest@virt2real.ru

          .block-section_contacts
            p По вопросам сотрудничества
            p: a(href="") coop@virt2real.ru

          .block-section_contacts
            p По вопросам вопросов
            p: a(href="") questions@virt2real.ru
  // /section.section.bgImg.section_contacts
