extends ./template/layout/main

block body
  include ./template/modules/menu

  // section.section.bgImg.section_top.section_kit.section_kit_pro
  section.section.bgImg.section_top.section_kit.section_kit_pro

    +navKit('pro')

    h1.title-section_kit PRO KӏT

    p.descr-section_kit.descr-section_kit_pro Компактный микропроцессорный комплект с программным обеспечением для создания управляемых устройств и видеонаблюдением через открытые каналы связи.

    a.link-section_kit.js-scroll-to(href=".preorder") Предзаказ
  // /section.section.bgImg.section_top.section_kit.section_kit_pro

  // section.section.section_opportunities
  section.section.section_opportunities(data-state='0')
    h1.header-section_kit возможности

    p.descr-section_opportunities Базовый комплект Pro Kit предоставляет широкий спектр действий для разрабатываемого продукта. Их легко реализовать, и при этом, можно быстро и недорого добавить новые функции.

    .wrap-section_opportunities
      .cont-section_opportunities
        img.img-section_opportunities(src="images/section_tech-pic-01.png", alt="")

        ul._left
          li.js-section_opportunities-item
            .flipper
              .cont-flipper
                .front-flipper
                  p: include ./images/section_opportunities-pic-01.svg
                  strong ТЕЛЕПРИСУТСТВИЕ
                .back-flipper
                  p: span С помощью virt2real можно добавить возможности телеприсутствия любому роботу, будь он на ногах, колесах или гусеницах. И он управляется в реальном времени.
                  strong ТЕЛЕПРИСУТСТВИЕ
          li.js-section_opportunities-item
            .flipper
              .cont-flipper
                .front-flipper
                  p: include ./images/section_opportunities-pic-02.svg
                  strong HD FPV
                .back-flipper
                  p: span С помощью virt2real можно добавить возможности телеприсутствия любому роботу, будь он на ногах, колесах или гусеницах. И он управляется в реальном времени.
                  strong HD FPV
        ul._right
          li.js-section_opportunities-item
            .flipper
              .cont-flipper
                .front-flipper
                  p: include ./images/section_opportunities-pic-03.svg
                  strong ӏP CAMERA
                .back-flipper
                  p: span С помощью virt2real можно добавить возможности телеприсутствия любому роботу, будь он на ногах, колесах или гусеницах. И он управляется в реальном времени.
                  strong ӏP CAMERA
          li.js-section_opportunities-item
            .flipper
              .cont-flipper
                .front-flipper
                  p: include ./images/section_opportunities-pic-04.svg
                  strong ИНФОРМАЦИЯ<br>С ДАТЧИКОВ
                .back-flipper
                  p: span С помощью virt2real можно добавить возможности телеприсутствия любому роботу, будь он на ногах, колесах или гусеницах. И он управляется <br>в реальном времени.
                  strong ИНФОРМАЦИЯ<br>С ДАТЧИКОВ
        a.all-section_opportunities.js-scroll-to(href=".section_pro_complete")
          b +
          span Готовые решения
  // /section.section.section_opportunities

  // section.section.section_outdate
  section.section.section_outdate(data-state='0')
    h1.header-section_kit выпуск первых тиржаей
    p.descr-section_outdate virt2real предлагает основную, самую сложную плату индустриального уровня в готовом виде, решая проблему выпуска небольших тиражей в количестве 100 – 300 штук.
    p.descr-section_outdate Останется только изготовить простые допмодули, реализующие нужный функционал.

    .i-section_outdate.i_l-section_outdate(data-size='3')
    .i-section_outdate.i_l-section_outdate(data-size='2')
    .i-section_outdate.i_l-section_outdate(data-size='1')
    .i-section_outdate.i_r-section_outdate(data-size='3')
    .i-section_outdate.i_r-section_outdate(data-size='2')
    .i-section_outdate.i_r-section_outdate(data-size='1')

    a.button-section_outdate(href="") упрощенная версия
  // /section.section.section_outdate

  // section.section.section_speed
  section.section.section_speed._gray.section_speed_1
    h1.header-section_kit Быстрое прототипирование
    p.descr-section_opportunities Для создания конечных продуктов не требуется модификаций основной платы, достаточно быстро собрать и тиражировать второй этаж, реализующий специфический функционал, и создать свой софт.

    .img-section_speed_1
      include ./images/section_complect-pic-01.svg
  // /section.section.section_speed

  // section.section.section_speed
  section.section.section_speed.section_speed_2
    h1.header-section_kit Быстрое прототипирование
    p.descr-section_opportunities Pro Kit включает в себя основную плату и все доступные на данный момент модули расширения.

    .schema
      include ./images/schema.svg

      .popup-schema(data-id="schema_1")
        strong МОДУЛЬ Wӏ-Fӏ
        p Позволяет управлять устройствами через открытые каналы связи.
      .popup-schema(data-id="schema_2")
        strong КАМЕРА
        p Дает возможность управления<br>устройством в режиме реального<br>времени, а также, телеприсутвия.
      .popup-schema(data-id="schema_3")
        strong ПЛАТА VӏRT2REAL
        p Компактный микропроцесор в готовом<br>виде для создания устройств<br>с видеонаблюдением через<br>открытые каналы связи
      .popup-schema(data-id="schema_4")
        strong МОДУЛЬ ЗАХВАТА АНАЛОГОВОГО ВИДЕО
        p С помощью этого модуля вы можете<br>захватывать видео PAL/SECAM/NTSC<br>из любого источника, сжимать его<br>в реальном времени и отправлять поток<br>на управляющее устройство.
      .popup-schema(data-id="schema_5")
        strong РЕЛЕЙНЫЙ МОДУЛЬ
        p Простой модуль, позволяющий вам<br>управлять включением приборов<br>с высоким энергопотреблением — таких<br> как лампа накаливания 110-220 вольт. <br>Поддерживает нагрузку до 60 ватт на канал.
      .popup-schema(data-id="schema_6")
        strong ВНЕШНИЙ РАЗЪЕМ ETHERNET
        p Простой разъем для подключения ко встроенному контроллеру Ethernet.
      .popup-schema(data-id="schema_7")
        strong ОТЛАДОЧНАЯ ПЛАТА
        p Плата для отладки вашего решения. Разъем Ethernet, USB-UART, 4 LED, разъем кнопки Reset, пины подачи питания и точки подпайки для каждого GPIO.
      .popup-schema(data-id="schema_8")
        strong МОТОРШИЛД
        p Эта силовая плата дает вам возможность управлять всеми видами сервоприводов (до 20 штук): обычными, бесколлекторными, шаговыми моторами и другими силовыми устройствами с высоким потреблением.
      .popup-schema(data-id="schema_9")
        strong МОДУЛЬ ЗАХВАТА ВИДЕО HDMI
        p Позволяет захватывать видео с источников HDMI, таких как камера или медиа-плейер, с разрешением до 1920x1080 (1080p), сжимать его в реальном времени и отправлять поток на управляющее устройство.

  // /section.section.section_speed

  // section.section_pro_complete
  section.section_pro_complete._gray
    h1.header-section_kit готовые решения
    p.descr-section_pro В набор Pro Kit входит не просто аппаратные комплектующие, но и готовые примеры вместе с программным обеспечением. По каждому их них команда virt2real может оказать поддержку в разработке и реализации.

    ul.categories-section_kit_pro
      li
        .flipper
          .cont-flipper
            .front-flipper
              strong Управление фотоаппаратом
            .back-flipper
              p: span С помощью Virt2Real можно добавить возможности телеприсутствия любому роботу, будь он на ногах, колесах или гусеницах. И он управляется в реальном времени.
              strong Управление фотоаппаратом
      li
        .flipper
          .cont-flipper
            .front-flipper
              strong умный дом
            .back-flipper
              p: span С помощью Virt2Real можно добавить возможности телеприсутствия любому роботу, будь он на ногах, колесах или гусеницах. И он управляется в реальном времени.
              strong Управление фотоаппаратом
      li
        .flipper
          .cont-flipper
            .front-flipper
              strong 3g/4g<br>видеотрансляторы
            .back-flipper
              p: span С помощью Virt2Real можно добавить возможности телеприсутствия любому роботу, будь он на ногах, колесах или гусеницах. И он управляется в реальном времени.
              strong Управление фотоаппаратом
      li
        .flipper
          .cont-flipper
            .front-flipper
              strong Управление игрушками
            .back-flipper
              p: span С помощью Virt2Real можно добавить возможности телеприсутствия любому роботу, будь он на ногах, колесах или гусеницах. И он управляется в реальном времени.
              strong Управление фотоаппаратом
      li
        .flipper
          .cont-flipper
            .front-flipper
              strong Мониторинг автотранспорта
            .back-flipper
              p: span С помощью Virt2Real можно добавить возможности телеприсутствия любому роботу, будь он на ногах, колесах или гусеницах. И он управляется в реальном времени.
              strong Управление фотоаппаратом
      li
        .flipper
          .cont-flipper
            .front-flipper
              strong Телеметрия с RC моделей
            .back-flipper
              p: span С помощью Virt2Real можно добавить возможности телеприсутствия любому роботу, будь он на ногах, колесах или гусеницах. И он управляется в реальном времени.
              strong Управление фотоаппаратом

    .app-section_kit_pro
      img(src="images/section_kit_pro-app.png", alt="")
      strong Приложения
      p Для iOS и Android есть готовые приложения для работы с virt2real. Приложения легко модифицировать для решения необходимых задач.
  // /section.section_pro_complete

  //
  +preorder('pro')
  // /

  +footer
