extends ./template/layout/main

block body
  include ./template/modules/menu

  // section.section.bgImg.section_kit.section_kit_options
  section.section.bgImg.section_top.section_kit.section_kit_options
    +navKit('options')

    h1.title-section_kit ОПЦИИ

    p.descr-section_kit_industrial Дополнительные модули к плате virt2real откроют<br>дополнительные возможности проекту

    a.link-section_kit.js-scroll-to(href=".preorder") Предзаказ
  // /section.section.bgImg.section_kit.section_kit_options

  // section.section.section_additional
  section.section.section_additional._gray
    h1.title-section_image дополнительные модули

    p.descr-section_image Вторые этажи позволят расширить функцилонал virt2real

    .slider-section_additional
      ul
        each a in [1,2,3,4,5,6]
          li.js-options-item(data-name="отладочная плата" data-id=a data-price="1900 ⃏")
            .flipper
              .cont-flipper
                .front-flipper
                  .cost-item-section_additional <strong>1900</strong> ⃏
                  .img-item-section_additional: include ./images/fish/pic-09.svg
                  .footer-item-section_additional: span отладочная плата
                  .count-item-section_additional.js-options-count +
                .back-flipper
                  .cost-item-section_additional <strong>1900</strong> ⃏
                  p: span Стандартный внешний коннектор<br>ethernet для кабеля RJ-45
                  .footer-item-section_additional: span отладочная плата
                  .count-item-section_additional.js-options-count.js-options-add +

      .arrow-slider-section_usecase.prev-slider-section_usecase
      .arrow-slider-section_usecase.next-slider-section_usecase

    a.start-section_additional.js-scroll-to(href=".preorder") Оформить предзаказ
  // /section.section.section_additional

  //
  +preorder('options')
  // /

  +footer
