extends ./template/layout/main

block body
  include ./template/modules/menu

  // section.section.bgImg.section_kit.section_kit_industrial
  section.section.bgImg.section_top.section_kit.section_kit_industrial
    +navKit('industrial')

    h1.title-section_kit ӏNDUSTRӏAL KӏT

    p.descr-section_kit_industrial Программно-аппаратная платформа для компаний,<br>производящих умные устройства большими тиражами.<br>Позволяет не только быстро спрототипировать, но и в короткие<br>сроки запустить в серию свое оптимизированное решение.

    a.link-section_kit.js-scroll-to(href=".preorder") Оставить заявку
  // /section.section.bgImg.section_kit.section_kit_industrial

  // section.section.section_image
  section.section.section_image._gray
    h1.title-section_image комплект
    p.descr-section_image Industrial Kit состоит из комплектов аппаратного и программного обеспечения
    .cont-section_image
      p asd
    p.post-section_image Предоставляемая принципиальная схема, герберы печатных плат и BOM-лист позволят модифицировать<br>основную плату как самостоятельно, так и с командой virt2real.
  // /section.section.section_image

  // section.section.section_image
  section.section.section_image
    h1.title-section_image Сокращение затрат на разработку
    p.descr-section_image При разработке сложной электроники с использованием BGA-компонентов и многослойных плат можно<br>столкнуться с трудностями, которые приводят к потере ресурсов, времени и денег.
    .cont-section_image
      p asd
    p.post-section_image Платы Industrial Kit разрабатывались с возможностью устаеновки в тиражируемое изделие,<br>что позволяет собрать продукт в кратчайшие сроки.
  // /section.section.section_image

  // section.section.section_image
  section.section.section_image._gray
    h1.title-section_image Снижение себестоимости
    p.descr-section_image При тиражах в десятки или сотни тысяч устройств небольшое изменение<br>себестоимости дает значительное изменение бюджета и прибылей.
    .cont-section_image
      p asd
    p.post-section_image Исчерпывающая техническая документация позволит тщательно проработать и рассчитать стоимость всех этапов производства — <br>от подбора компонентов и производства печатных плат — до монтажа и тестирования готовых устройств.
  // /section.section.section_image

  // section.section.section_image
  section.section.section_image
    h1.title-section_image Программная часть
    p.descr-section_image С использованием программной части станут доступны<br>все аспекты взаимодействия устройств в интернете.
    .cont-section_image
      p asd
    p.post-section_image Помимо Linux на основной плате имеется доступ к ПО на клиентских устройствах (iOS, Android, Windows)<br>и к серверным технологиям, обеспечивающим взаимодействие устройств в Internet.
  // /section.section.section_image

  // section.section.section_image
  section.section.section_image._gray
    h1.title-section_image Экспертная поддержка
    p.descr-section_image Команда Virt2Real окажет поддержку в реализации сложных проектов,<br>имея богатый опыт в создании управляемых через интернет систем
    .cont-section_image
      table
        tr
          td(width="33%") &nbsp;
          td(width="33%") &nbsp;
          td(width="33%") &nbsp;
        tfoot
          tr
            td устройства весом от 16 грамм до 4 тонн<br>(машины, лодки, самолеты, танки, манипуляторы и пр.)
            td трансляция видео и передача телеметрии с ездящих,<br>плавающих и летающих устройств по WiFi и 3G/4G
            td управление через интернет<br>на расстоянии до 7000 километров
    p.post-section_image При создании устройств virt2real используются знания в области разработки электроники, трансляции/приеме видео<br>и телеметрии в реальном времени и опыт в разработке ПО под большинство современных платформ.
  // /section.section.section_image

  // section.section.section_image
  section.section.section_image
    h1.title-section_image комплектация
    p.descr-section_image Industrial Kit включает в себя не только аппаратное и программное обеспечение,<br>но и техническую документацию на производство, а так же консалтинг
    .cont-section_image
      table
        tr
          td(width="25%") &nbsp;
          td(width="25%") &nbsp;
          td(width="25%") &nbsp;
          td(width="25%") &nbsp;
        tfoot
          tr
            td Pro Set
            td Техдокументация на производство<br>(BOM, герберы и проч.)
            td 8 часов консалтинга
            td Доступ к исходным кодам ПО<br>(iOS, Android, Windows, серверы коммуникаций)
    p.post_wImg-section_image
      include ./images/section_industrial-pic-descr.svg
      span В рамках некоторых производственных контрактов<br>возможно предоставление принципиальной схемы
  // /section.section.section_image

  //
  +preorder('industrial')
  // /

  +footer
