extends ./template/layout/main

block body
  include ./template/modules/menu

  // section.section.bgImg.section_kit.section_kit_geek
  section.section.bgImg.section_top.section_kit.section_kit_geek

    +navKit('geek')

    h1.title-section_kit GEEK KӏT

    p.descr-section_kit Компактное решение для создания устройств с управлением и видеонаблюдением через Wi-Fi, 3G/4G и Internet

    a.link-section_kit.js-scroll-to(href=".preorder") Предзаказ
  // /section.section.bgImg.section_kit.section_kit_geek

  // section.section.section_posibilities
  section.section.section_posibilities
    ul
      li
        strong Компактность
        p Размеры virt2real (70x42x10) позволяют легко встраиваться в мобильные системы и модели
      li
        strong Управление
        p С virt2real управление любыми устройствами через Wi-Fi, 3G/4G и Internet становится реальностью
      li
        strong Универсальность
        p Большое количество портов ввода/вывода позволяют подключать virt2real абсолютно к любому устройству
      li
        strong Программирование
        p Linux OS на борту. Поддержка большинства существующих языков программирования
      li
        strong Поддержка видео
        p virt2real способен сжимать и передавать<br>видео в RTMP, HLS, RTSP
      li
        strong Апгрейд
        p Поддержка дополнительных разъёмов и модулей (LCD/USB, WCDMA/GPRS, Ethernet и многое другое)
  // /section.section.section_posibilities

  // section.section.section_tech
  section.section.section_tech(data-state="0")

    .inner-section_tech._preview
      .cont-section_tech
        img.img-section_tech(src="images/section_tech-pic-01.png", alt="")

        .lists-section_tech
          ul._left
            li
              .item-lists-section_tech
                strong ПРОЦЕССОР
                p Texas Instruments DaVinci DM365/368<br>Два видео-сопроцессора (HDVICP, MJCP)
                b(style="background-image: url(images/section_tech-i-01.svg);")
            li
              .item-lists-section_tech
                strong ЦИФРОВОЙ СОПРОЦЕССОР DSP
                p Аппаратное сжатие видео: H.264, MPEG4, MPEG2,<br>MJPEG, JPEG, WMV9/VC1
                b(style="background-image: url(images/section_tech-i-02.svg);")
            li
              .item-lists-section_tech
                strong ПРОГРАММНОЕ ОБЕСПЕЧНЕНИЕ
                p На борту — Linux!
                b(style="background-image: url(images/section_tech-i-03.svg);")
            li
              .item-lists-section_tech
                strong ИНТЕРФЕЙСЫ И ПЕРИФЕРИЯ
                p 54 GPIO, I2C, SPI, SDIO, USB host/client, Audio McBSP, EMI
                b(style="background-image: url(images/section_tech-i-04.svg);")
            li
              .item-lists-section_tech
                strong СЕТЕВЫЕ ИНТЕРФЕЙСЫ
                p Etrhernet 10/100Mb встроенный — 1 шт.<br>WiFi (802.11 b/g) — организуется через модуль апгрейда.
                b(style="background-image: url(images/section_tech-i-05.svg);")
          ul._right
            li
              .item-lists-section_tech
                strong ЭЛЕКТРОПИТАНИЕ
                p Диапазон питающих напряжений: от 2,8 до 15 вольт<br>LiPo, LiIon, NiMH и др. Аккумуляторы, блоки питания
                b(style="background-image: url(images/section_tech-i-06.svg);")
            li
              .item-lists-section_tech
                strong ПАМЯТЬ
                p Память RAM: 128-256Mb DDR2<br>Память NAND: 256Mb
                b(style="background-image: url(images/section_tech-i-07.svg);")
            li
              .item-lists-section_tech
                strong ФОРМ-ФАКТОР
                p Размеры: 70х42х10мм (первый этаж), вес 25 грамм
                b(style="background-image: url(images/section_tech-i-08.svg);")
            li
              .item-lists-section_tech
                strong ВИДЕОПОДСИСТЕМА
                p Pal, NTSC, HDMI, LCD
                b(style="background-image: url(images/section_tech-i-09.svg);")
            li
              .item-lists-section_tech
                strong ПОДКЛЮЧЕНИЕ КАМЕР
                p Подключение цифровых сенсоров,<br>а также источников PAL/NTSC и HDMI
                b(style="background-image: url(images/section_tech-i-10.svg);")
      a.link-section_tech.js-section_tech-toggle(href="" data-rel="2") Все спецификации

    .inner-section_tech._full
      .cont-section_tech
        .cols-section_tech
          ul.col-section_tech
            li
              strong Процессор
              p Texas Instruments DaVinci DM365/368Два видео-сопроцессора (HDVICP, MJCP)Серия DM365 до 300МГц, серия DM368 до 400МГц
              p Технология ARM® Jazelle®
              p Объем встроенного в процессор ОЗУ 32КБ
              p Четыре 64-битных таймера общего назначения
              p Встроенная подсистема работы с видео
              p Встроенный VoiceCodec (16 бит/ 16 кГц)
              p Расширенный набор доступной периферии
            li
              strong Цифровой сопроцессор DSP
              p Аппаратное сжатие видео: H.264, MPEG4, MPEG2, MJPEG, JPEG, WMV9/VC1
              p Аппаратное ускорение: MJCP и HDVICP
              p Разрешение кодируемого видео: 1280x720 (1920x1080p для DM368) 30 fps
            li
              strong Программное обеспечнение
              p На борту – Linux!
              p Поддержка процессора реализована в дистрибутивах Linux:
              p RidgeRun SDK, MontaVista, Arago Project, Angstrom
            li
              strong Память
              p Память RAM: 128-256Mb DDR2
              p Память NAND: 256Mb
            li
              strong Сетевые интерфейсы
              p Etrhernet 10/100Mb встроенный -1 шт.
              p WiFi (802.11 b/g) — организуется через модуль апгрейда.
            li
              strong Электропитание
              p Диапазон питающих напряжений: от 2,8 до 15 вольт
              p LiPo, LiIon, NiMH и др. Аккумуляторы, блоки питания
          ul.col-section_tech
            li
              strong Интерфейсы и периферия
              p 54 GPIO, I2C, SPI, SDIO, USB host/client, Audio McBSP, EMI…
              p Выводы общего назначения (GPIO) - 54 шт из них 14 — источники прерываний.
              p Количество выходов - PWM 4 шт.
              p Интерфейс I2С — 1 шт.
              p Интерфейс SPI до 4-ти шт.
              p Интерфейс UART — 2 шт.
              p Входы АЦП — 6 шт.
              p USB 2.0 конфигурируемый хост/клиент порт — 1 шт
              p SDIO — 2 шт.
              p YPbPr (компонентный видеовыход) — 1 шт
              p CVBS PAL/NTSC (композитный видеовыход) — 1 шт.
              p Параллельный интерфейс для работы с LCD (16-24 бита) — 1 шт.
              p Микрофонный вход (16 бит/ 16 кГц, моно) — 1 шт.
              p Линейный аудиовыход (16 бит/ 16 кГц, моно) — 1 шт.
              p Выход на динамик (16 бит/ 16 кГц, моно, 300 mV на нагр. 8 ом, усилител D-класса) —1 шт.
              p Возможна организация высококачественного аудиоканала с помощью McBSP интерфейса
              p McBSP интерфейс (Multi-Channel Buffered Serial Port) — 1 шт.
              p Внешняя шина памяти модуля EMI (External Memory Inteface) — 1 шт.
              p Параллельный интерфейс для подключения внешних камер (8-12 бит) -1 шт.
            li
              strong Форм-фактор
              p Размеры: 70х42х10мм (первый этаж), вес 25 грамм
              p Устройство — двухэтажное.
              p Первый этаж: основная плата + модули апгрейда
              p Второй этаж: платы расширения под специфические задачи
          ul.col-section_tech
            li
              strong Видеоподсистема
              p Pal, NTSC, HDMI, LCD…
              p: b Видео back-end
              p Возможность подключения LCD панелей по параллельному интерфейсу – 16-24 бит
              p Композитный видеовыход CVBS PAL/NTSC
              p Компонентный видеовыход YPbPr HD 1280х720p
              p Аппаратное ускорение при работе с выводимым изображением
              p Аппаратный On-Screen Display (OSD)
              p: b Видео front-end
              p Параллельный интерфейс (8-12 бит) для подключения камер
              p Возможность подключения аналоговых камер через переходник.
              p Аппаратная обработка видео:
              p Коррекция цветов, автоматическая настройка баланса белого, преобразование размеров и т.д.
            li
              strong Подключение камер
              p Подключение цифровых сенсоров, а также источников PAL/NTSC и HDMI Поставляемая опционально в комплекте камера – ov2643
              p В устройстве реализован универсальный интерфейс позволяющий подключать CMOS, CCD и аналоговые камеры. К настоящему моменту обеспечивается работа камер с сенсорами типа ov7675, ov7690, ov9710, ov3640 производства OmniVision.
              p Поддерживаются любые модули с шиной 8/10 бит, при наличии драйвера соответствующей камеры

      a.link-section_tech.js-section_tech-toggle(href="" data-rel="1") Назад
    h1.title-section_tech Технические характеристики


  // /section.section.section_tech

  // section.section.section_complect
  section.section.section_complect
    h1.header-section_kit Комплектация

    .tabs._grayItems(data-target=".cont-section_complect ul")
      .wrap-tabs
        a._active(href="" data-rel="0") Плата
        a(href="" data-rel="1") Wi-Fi модуль
        a(href="" data-rel="2") Камера

    .wrap-section_complect
      .cont-section_complect
        ul(data-state="0")
          li
            .img-section_complect
              include ./images/section_complect-pic-01.svg
            .txt-section_complect
              strong ПЛАТА VӏRT2REAL
              p Компактный микроп вом виде для создания<br>устройств с видеонаблюдением через открытые каналы связи.
          li
            .img-section_complect
              include ./images/section_complect-pic-02.svg
            .txt-section_complect
              strong Wӏ-Fӏ МОДУЛЬ
              p Позволит управлять моделями через открытые каналы связи. Использование различных каналов позволит преодолеть<br>расстояние в несколько километров.
          li
            .img-section_complect
              include ./images/section_complect-pic-03.svg
            .txt-section_complect
              strong КАМЕРА
              p Дает возможность управления устройством<br>в режиме реального времени, а также, телеприсутвия.

  // /section.section.section_complect

  // section.section.section_usecase
  section.section.section_usecase
    h1.header-section_kit Применение

    .slider-section_usecase
      ul.list-slider-section_usecase(data-state='0')
        li
          .img-slider-section_usecase
            include ./images/section_usecase-pic-01.svg
          .txt-slider-section_usecase
            strong 3G/4G ВИДЕОТРАНСЛЯТОРЫ
            p Для создания мобильного видеотранслятора к миниатюрной плате<br>virt2real достаточно подключить питание и 3G/4G модем.
        li
          .img-slider-section_usecase
            include ./images/section_usecase-pic-01.svg
          .txt-slider-section_usecase
            strong 3G/4G ВИДЕОТРАНСЛЯТОРЫ
            p Для создания мобильного видеотранслятора к миниатюрной плате<br>virt2real достаточно подключить питание и 3G/4G модем.
      .arrow-slider-section_usecase.prev-slider-section_usecase
      .arrow-slider-section_usecase.next-slider-section_usecase
      .nav-slider-section_usecase
        span._active
        span
  // /section.section.section_usecase

  +preorder('geek')

  +footer
