extends ./template/layout/main

block body
  include ./template/modules/menu

  // section.section.bgImg.section_main.section_top
  section.section.bgImg.section_main.section_top
    .logo-section_main
      include ./images/section_main-logo.svg

    p.descr-section_main Универсальная платформа для создания умных устройств Простое решение для всех, кто интересуется интерактивными объектами и средами.

    .lang-section_main
      a(href="") eng

    .arrow-section_main.js-scroll-next
  // /section.section.bgImg.section_main.section_top

  // section.section.bgImg.section_platform
  section.section.section_platform
    .tabs(data-target="#mainSlider")
      .wrap-tabs
        a._active(href="" data-rel="0") Устройство
        a(href="" data-rel="1") Характеристики
        a(href="" data-rel="2") Проекты

    #mainSlider(data-state="0")
      .inner-mainSlider
        .sect-mainSlider.sect_0-mainSlider
          h4.title-sect-mainSlider ПЛАТФОРМА VӏRT2REAL
          p.descr-sect-mainSlider Платформа для построения систем с удаленным управлением и видеонаблюдением через Wi-Fi, 3G/4G и Internet.
        .sect-mainSlider.sect_1-mainSlider
          h4.title-sect-mainSlider ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ
          ul._left
            li
              strong Программное обеспечнение
              p На борту — Linux!
              img(src="images/section_platform-i-01.png", alt="")
            li
              strong Подключение камер
              p Подключение цифровых сенсоров,<br>а также источников PAL/NTSC и HDMI
              img(src="images/section_platform-i-02.png", alt="")
            li
              strong Интерфейсы и периферия
              p 54 GPIO, I2C, SPI, SDIO,
              p USB host/client, Audio McBSP, EMI
              img(src="images/section_platform-i-03.png", alt="")
            li
              strong Сетевые интерфейсы
              p Etrhernet 10/100Mb<br>встроенный -1 шт.<br>WiFi (802.11 b/g) —<br>организуется через<br>модуль апгрейда.
              img(src="images/section_platform-i-03.png", alt="")
            li
              strong Память
              p Память RAM: 128-256Mb DDR2<br>Память NAND: 256Mb
              img(src="images/section_platform-i-04.png", alt="")
          ul._right
            li
              strong Форм-фактор
              p Размеры: 70х42х10мм<br>(первый этаж),<br>вес 25 грамм
              img(src="images/section_platform-i-05.png", alt="")
            li
              strong Электропитание
              p Диапазон питающих напряжений:<br>от 2,8 до 15 вольт<br>LiPo, LiIon, NiMH и др.<br>Аккумуляторы, блоки питания
              img(src="images/section_platform-i-06.png", alt="")
            li
              strong Процессор
              p Texas Instruments DaVinci DM365/368 Два видео-сопроцессора (HDVICP, MJCP)
              img(src="images/section_platform-i-08.png", alt="")
            li
              strong Цифровой сопроцессор DSP
              p Аппаратное сжатие видео:<br>H.264, MPEG4, MPEG2,<br>MJPEG, JPEG, WMV9/VC1
              img(src="images/section_platform-i-07.png", alt="")
            li
              strong Видеоподсистема
              p Pal, NTSC, HDMI, LCD
          a.link-section_tech(href="") Все спецификации
        .sect_mainSlider.sect_2pre-mainSlider
          ul
            li
            li
            li
            li
        .sect-mainSlider.sect_2-mainSlider
          h4.title-sect-mainSlider ПРОЕКТЫ НА ПЛАТФОРМЕ VӏRT2REAL
          ul
            li
              a(href="")
                p
                  img(src="images/section_platform-pic-01.png", alt="")
                  span Задача - сделать манипулятор, управляемый через Интернет. С программной частью и электроникой проблем практически не возникло, а вот с механикой оказались проблемы. Ну нет в продаже недорогих манипуляторов
                .footer-item-section_additional: span Войны роботов
            li
              a(href="")
                p
                  img(src="images/section_platform-pic-02.png", alt="")
                  span Задача - сделать манипулятор, управляемый через Интернет. С программной частью и электроникой проблем практически не возникло, а вот с механикой оказались проблемы. Ну нет в продаже недорогих манипуляторов
                .footer-item-section_additional: span Манипулятор
            li
              a(href="")
                p
                  img(src="images/section_platform-pic-03.png", alt="")
                  span Задача - сделать манипулятор, управляемый через Интернет. С программной частью и электроникой проблем практически не возникло, а вот с механикой оказались проблемы. Ну нет в продаже недорогих манипуляторов
                .footer-item-section_additional: span Управляемая<br>вебкамера
            li
              a(href="")
                p
                  img(src="images/section_platform-pic-04.png", alt="")
                  span Задача - сделать манипулятор, управляемый через Интернет. С программной частью и электроникой проблем практически не возникло, а вот с механикой оказались проблемы. Ну нет в продаже недорогих манипуляторов
                .footer-item-section_additional: span тачка<br>джеймс бонда
        img.img-mainSlider(src="images/mainSlider-img.png" alt="")

    //- // Just for test:
    //- script.
    //-   $('.tabs a').on('click', function(e) {
    //-     e.preventDefault();
    //-     $(this).addClass('_active').siblings('a').removeClass('_active');
    //-   });

  // /section.section.bgImg.section_platform

  // section.section.bgImg.section_types
  section.section.section_types
    a.item-section_types.item_geek-section_types(href="kit_geek.html")
      h4.name-section_types GEEK KӏT
      p.descr-section_types: span Начальный пакет для энтузиастов
      //- img(src="images/section_types-geek.jpg" alt="Geek Kit")
    a.item-section_types.item_pro-section_types(href="kit_pro.html")
      h4.name-section_types PRO KӏT
      p.descr-section_types: span Комплект для профессионалов,<br>включающий все дополнительные модули
      //- img(src="images/section_types-geek.jpg" alt="Geek Kit")
    a.item-section_types.item_industrial-section_types(href="kit_industrial.html")
      h4.name-section_types ӏNDUSTRӏAL KӏT
      p.descr-section_types: span Полный комплект<br>предназначенный для детального изучения и отладки
      //- img(src="images/section_types-geek.jpg" alt="Geek Kit")
    a.item-section_types.item_options-section_types(href="kit_options.html")
      h4.name-section_types OPTӏONS
      p.descr-section_types: span Дополнительные модули для разных возможностей
      //- img(src="images/section_types-geek.jpg" alt="Geek Kit")
  // /section.section.bgImg.section_types

  +footer('full')
