extends ./template/layout/main

block body
  include ./template/modules/menu

  // section.section.bgImg.section_support.section_top
  section.section.bgImg.section_support.section_top
    .cont-section_support
      h1.title-section_support Поддержка

      .pair-section_support

        // .half-section_support.nav-section_support
        .half-section_support.nav-section_support
          ul
            li: a(href="") Первый запуск Vӏrt2Real
            li: a(href="") Vӏrt2Real для чайников
            li: a(href="") Схема компонентов
            li: a(href="") Wӏkӏpedӏa
            li: a(href="") Forum

          .download-section_support
            strong последняя прошивка v 1.4b
            span 3 дня назад
          a.archive-section_support(href="") Архив
        // /.half-section_support.nav-section_support

        // .half-section_support.faq-section_support
        .half-section_support.faq-section_support
          ul
            li._opened
              strong: a(href="") Что нужно для использования?
              p Скиннер, однако, настаивал, что восприятие вызывает коллективный ассоцианизм
            li._opened
              strong: a(href="") Как сделать загрузочную карточку?
              p Скиннер, однако, настаивал, что восприятие вызывает коллективный ассоцианизм
            li._opened
              strong: a(href="") Как загрузиться?
              p Скиннер, однако, настаивал, что восприятие вызывает коллективный ассоцианизм
            li._opened
              strong: a(href="") Как соедениться?
              p Скиннер, однако, настаивал, что восприятие вызывает коллективный ассоцианизм
            li._opened
              strong: a(href="") Зачем нужна консоль?
              p Скиннер, однако, настаивал, что восприятие вызывает коллективный ассоцианизм
            li._opened
              strong: a(href="") Что такое Gstreamer?
              p Скиннер, однако, настаивал, что восприятие вызывает коллективный ассоцианизм
            li._opened
              strong: a(href="") Какие приложения нужны?
              p Скиннер, однако, настаивал, что восприятие вызывает коллективный ассоцианизм
            li._opened
              strong: a(href="") Как сделать внешний дизайн?
              p Скиннер, однако, настаивал, что восприятие вызывает коллективный ассоцианизм
            li._opened
              strong: a(href="") Как подключиться к роутеру?
              p Скиннер, однако, настаивал, что восприятие вызывает коллективный ассоцианизм
        // /.half-section_support.faq-section_support

      form.search-section_support
        input(type="text")
        button

    #questionMark-section_support
      include ./images/section_support-questionMark.svg

  // /section.section.bgImg.section_support.section_top
