.b_image {
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: no-repeat;

    &.preorder {
        background-image: url(../images/preorder-bg.jpg);
        }
    }

.bgImg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    }

    $sections_top: (main, about, kit_geek, kit_pro, kit_industrial, kit_options);
    $sections_mid: (contacts);

    .bgImg.section_support {
        background-color: #06c;
        }

    @each $section_name in $sections_top {
        .bgImg.section_#{$section_name} {
            background-image: url(../images/bgImg-#{$section_name}.jpg);
            background-position: 50% $height-menu;
            }
        }

    @each $section_name in $sections_mid {
        .bgImg.section_#{$section_name} {
            background-image: url(../images/bgImg-#{$section_name}.jpg);
            background-position: 50% 0;
            }
        }
