.flipper {
    position: relative;

    perspective: 1000;
    }

    .cont-flipper {
        position: relative;

        transition: 0.6s transform;
        transform-style: preserve-3d;

        &._backface {
            transform: rotateY(180deg);
            }

        .flipper:not(._custom) & {
            cursor: pointer;
            }
        }

        .front-flipper,
        .back-flipper {
            top: 0;
            left: 0;
            position: absolute;

            backface-visibility: hidden;
            }

        .front-flipper {
            transform: rotateY(0deg);
            }

        .back-flipper {
            transform: rotateY(180deg);
            }
