.footer {
    min-width: $width-minimal;
    position: relative;
    z-index: 100000;
    }

    .cont-footer {

        .inner {
            @extend .clearfix;

            padding-top: 65px;
            padding-bottom: 35px;
            }
        }

        .title-cont-footer {
            height: 20px;
            margin-bottom: 18px;

            color: #000;
            text-transform: uppercase;
            font-family: $font-header;
            font-size: 14px;
            line-height: 20px;
            }

        .meta-cont-footer {
            line-height: 20px;

            time {
                color: #808080;
                font-size: 10px;
                text-transform: uppercase;
                }

            span,
            a {
                margin-right: 8px;

                color: #06c;
                text-decoration: none;
                font-size: 13px;
                font-family: $font-header;
                }
            }

        .list-cont-footer {

            font-size: 13px;
            line-height: 20px;

            li {
                margin-bottom: 10px;
                }

            a {
                color: #000;
                text-decoration: none;

                &:hover {
                    color: #06c;
                    }
                }
            }

        .title_twitter-cont-footer {
            @extend .title-cont-footer;

            background: url(../images/icon-twitter_black.png) no-repeat 0;
            }

        .social-cont-footer,
        .blog-cont-footer {
            width: 340px;
            padding-right: 20px;
            float: left;
            }

        .social-cont-footer {

            a {
                color: #06c;

                &:hover {
                    text-decoration: underline;
                    }
                }
            }

        .blog-cont-footer {}

        .contacts-cont-footer {
            font-size: 16px;
            font-family: $font-header;
            line-height: 18px;

            a {
                color: #06c;
                text-decoration: none;
                }
            }

            .mail-contacts-cont-footer,
            .phone-contacts-cont-footer {
                margin-bottom: 20px;
                }

            .mail-contacts-cont-footer {
                margin-top: 40px;
                }

            .subscr-contacts-cont-footer {

                input {
                    @include reset_input;

                    width: 202px - 10px * 2;
                    height: 30px;
                    padding: 0 10px;

                    border: 1px solid #06c;

                    font-size: 14px;
                    font-family: $font-main;
                    color: #000;

                    @include placeholder {
                        color: rgba(#000, .3);
                        }
                    }
                }

    .bottom-footer {
        height: $height-footer_bottom;

        background-color: #000;

        line-height: $height-footer_bottom;
        }

        .social-bottom-footer {
            margin-left: 35px;
            float: left;

            a {
                width: 15px;
                height: 15px;
                margin-right: 22px;
                display: inline-block;

                // background-color: #f3f3f3;
                background-repeat: no-repeat;
                background-position: 50%;
                vertical-align: middle;
                opacity: 0.4;

                &:hover {
                    opacity: 1;
                    }
                }
            }

            $social: ( twitter: png, blog: svg, wiki: svg );

            @each $name, $ext in $social {
                .item_#{$name}-social-bottom-footer {
                    background-image: url(../images/icon-#{$name}.#{$ext});
                    }
                }

        .copyright-bottom-footer {
            margin-right: 5px;
            float: right;

            font-size: 12px;
            color: rgba(#b2b2b2, .4);
            }
