$k: 4;

#mainSlider {
    width: 100%;
    top: 139px;
    bottom: 0;
    position: absolute;
    }

    .inner-mainSlider {
        width: 100%;
        height: 656px;
        margin-top: (-656px / 2);
        top: 50%;
        position: absolute;
        }

    .img-mainSlider {
        width: 852px;
        height: 716px;
        margin-left: -760px;
        top: 140px;
        left: 50%;
        position: absolute;
        z-index: 5000;

        @include transit($k) {
            transition-property: margin;
        };

        #mainSlider[data-state='0'] & {
            margin-left: -760px;
            }

        #mainSlider[data-state='1'] & {
            margin-left: -535px;
            }

        #mainSlider[data-state='2'] & {
            margin-left: 275px;
            }
        }

    .sect-mainSlider {
        width: 100%;
        position: absolute;
        z-index: 100;

        opacity: 0;
        transform: translateX(100%);
        }

    .sect_0-mainSlider {
        padding-left: 140px;
        margin: 205px 0 0 50%;

        @include transit($k) {
            transition-property: opacity;
        };

        #mainSlider[data-state='0'] & {
            opacity: 1;
            z-index: 1000;
            transform: translateX(0);
            }

        #mainSlider[data-state='1']._delay_1 &,
        #mainSlider[data-state='2']._delay_2 & {
            transition-property: opacity, transform;
            transition-delay: 0, .1s * $k;
            }
        }

    .sect_1-mainSlider {
        height: 656px;

        font-size: 14px;

        @include transit($k) {
            transition-property: opacity;
        };

        #mainSlider[data-state='1']._delay_1 & {
            transition-delay: .1s * $k;
            }

        #mainSlider[data-state='1'] & {
            opacity: 1;
            z-index: 10000;
            transform: translateX(0);
            }

        #mainSlider[data-state='0'] &,
        #mainSlider[data-state='2']._delay_2 & {
            transition-property: opacity, transform;
            transition-delay: 0, .1s * $k;
            }

        .link-section_tech {
            bottom: 30px;
            }

        li {
            margin-bottom: 30px;

            cursor: pointer;
            }

        ul {
            width: 250px;
            margin-top: -10px;
            position: absolute;

            &._left {
                margin-left: -625px;
                left: 50%;

                text-align: right;

                img {
                    left: 210px;
                    }
                }
            &._right {
                margin-right: -625px;
                right: 50%;

                li {margin-bottom: 25px;}

                img {
                    right: 221px;
                    }
                }
            }

        strong {
            font-weight: bold;
            text-transform: uppercase;
            }

        li:hover img {
            opacity: 1;
            transform: translateX(0);
            transition-delay: 0;
            }

        img {
            margin-top: -44px;
            top: 0;
            position: absolute;
            z-index: 10000;
            opacity: 0;

            transform: translateX(200%);

            @include transit_fn($k) {
                transition-property: opacity, transform;
                transition-duration: .1s * $k, 0;
                transition-delay: .1s, .1s * $k;
                };
            }

        ul._left li:nth-child(2) { margin-top: 38px; }
        ul._left li:nth-child(3) {margin-top: 38px;}
        ul._left li:nth-child(4) {margin-top: -4px;}
        ul._left li:nth-child(6) {margin-top: -3px;}
        }

    .sect_2-mainSlider {
        width: auto;
        left: 0;
        right: 265px;

        @include transit($k) {
            transition-property: opacity;
        };

        #mainSlider[data-state='0'] &,
        #mainSlider[data-state='1'] & {
            transition-property: opacity, transform;
            transition-delay: 0, .1s * $k;
            }

        #mainSlider[data-state='2'] & {
            opacity: 1;
            transform: translateX(0);
            }

        .footer-item-section_additional {
            font-size: 13px;
            }

        p {
            width: 100%;
            height: 225px - 40px;
            // margin-top: 40px;

            line-height: 225px - 40px;
            text-align: center;

            img, svg {
                display: inline-block;

                vertical-align: middle;
                }
            }

        ul {
            width: 100%;
            height: 295px;
            top: 195px;
            position: absolute;

            // background-color: #fff;
            box-sizing: border-box;

            font-size: 0;
            }

        li {
            width: 25%;
            height: 295px;
            display: inline-block;
            position: relative;

            box-sizing: border-box;
            vertical-align: top;

            font-size: 14px;

            &:nth-child(2n + 2) {
                // border: 1px solid #fcfcfc;
                // border-width: 0 1px;
                // background-color: #fdfdfd;
                }

            &:hover {
                border: 0;
                }
            }
        }

        .title-sect-mainSlider {
            display: block;

            font-size: 30px;
            font-family: $font-header;
            font-weight: bold;
            -webkit-font-smoothing: antialiased;

            .sect_0-mainSlider & {
                width: 310px;

                font-size: 40px;
                }

            .sect_1-mainSlider & {
                width: 310px;
                margin: 20px auto;

                text-align: center;
                }

            .sect_2-mainSlider & {
                margin: 70px -265px 0 0;

                text-align: center;
                }
            }

        .descr-sect-mainSlider {
            font-size: 16px;

            .sect_0-mainSlider & {
                width: 265px;
                }
            }
