.menu {
    @extend .clearfix;

    width: 100%;
    min-width: $width-minimal;
    height: $height-menu;
    position: absolute;
    z-index: 100000;

    background-color: #000;
    overflow: hidden;
    }

    .logo-menu {
        // Pic size:
        // width: 35px;
        // height: 32px;

        width: 70px;
        height: 70px;
        margin-left: 49px - (70px - 35) / 2; // 49px - in .psd
        float: left;
        position: relative;

        background-image: url(../images/menu-logo.svg);
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 35px;
        }

    .nav-menu {
        margin-top: 10px;
        margin-right: 35px;
        float: right;

        font-size: 0;
        text-transform: uppercase;

        li {
            display: inline-block;

            font-size: 14px;
            line-height: 20px;
            }

        a {
            padding: 15px;
            display: inline-block;

            color: #e7e8e8;
            text-decoration: none;

            &:hover {
                color: #fff;
                }
            }
        }
