.preorder {
    min-width: 1440px;
    min-height: 900px;

    select {
        width: 20px;
        }


    .jq-selectbox {
        position: relative;
        }
    .jq-selectbox__select {
        width: 20px;
        height: 24px;

        border-radius: 2px 0 0 2px;
        background-color: #fff;
        }

        .jq-selectbox__select-text {
            width: 20px;
            height: 24px;

            font-size: 14px;
            font-weight: bold;
            line-height: 24px;
            color: #333;
            text-align: center;
            }
        .jq-selectbox__trigger {
            width: 20px;
            height: 24px;
            top: 0;
            left: 20px;
            position: absolute;

            border-radius: 0 2px 2px 0;
            border-left: 1px solid #ccc;
            background-color: #f5f5f5;
            box-sizing: border-box;
            cursor: pointer;
            }
            .jq-selectbox__trigger-arrow {
                margin-left: -7px;
                top: 9px;
                left: 50%;
                position: absolute;

                border: 7px solid transparent;
                border-top-color: #ccc;
                }

    .jq-selectbox__dropdown {
        width: 40px;
        margin-top: 3px;

        border-radius: 2px;
        background-color: #fff;
        overflow: hidden;

        font-size: 12px;
        font-weight: bold;
        color: #333;

        li {
            padding: 4px;

            cursor: pointer;

            &:hover {
                background-color: #f2f2f2;
                }
            }
        }

    }

    .title-preorder {
        padding: 90px 0 30px;

        color: #fff;
        font-size: 48px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 5px;
        text-align: center;
        }

    .descr-preorder {
        width: 450px;
        margin: auto;

        color: #fff;
        font-size: 22px;
        text-align: center;
        line-height: 36px;
        }

    $preorder-width: 940px;
    $preorder-height: 510px;
    $preorder_item-width: 300px;

    .types-preorder {
        @extend .clearfix;

        width: $preorder-width;
        height: $preorder-height;
        margin: 45px auto 35px;

        text-align: center;
        font-size: 0;
        }

        .item-types-preorder {
            width: $preorder_item-width;
            height: $preorder-height;
            top: 0;
            position: relative;
            display: inline-block;
            vertical-align: top;

            // @include transit(4);

            .flipper,
            .cont-flipper,
            .front-flipper,
            .back-flipper {
                width: $preorder_item-width;
                height: $preorder-height;

                &._hid {
                    display: none;
                    }
                }
            .front-flipper {
                background-color: rgba(#f5f5f5, .8);

                &._hid {
                    display: none;
                    }

                &._rotated {
                    transform: rotateY(180deg);
                    }
                }

            &._active,
            &._mark {
                width: $preorder_item-width + 40px;
                height: $preorder-height + 30px;
                top: -15px;
                z-index: 1000;

                // background-color: rgba(#06c, .8);
                // box-shadow: 0 1px 3px rgba(#000, .75);
                box-sizing: border-box;

                color: #fff;

                .flipper,
                .cont-flipper,
                .front-flipper,
                .back-flipper {
                    width: $preorder_item-width + 40;
                    height: $preorder-height + 30;
                    }
                .front-flipper {
                    padding-top: 15px;

                    background-color: rgba(#06c, .8);
                    box-shadow: 0 1px 3px rgba(#000, .75);
                    box-sizing: border-box;

                    &[data-type='complete'] {
                        background-color: rgba(#06c, 1);
                        }
                    }
                .back-flipper {
                    padding-top: 15px;

                    background-color: rgba(#06c, 1);
                    box-shadow: 0 1px 3px rgba(#000, .75);
                    box-sizing: border-box;

                    &[data-type='complete'] {
                        transform: rotateY(0deg);

                        background-color: rgba(#06c, 1);
                        }
                    }
                }
            }

        .name-types-preorder {
            margin: 15px 0 5px;

            font-family: $font-header;
            font-size: 30px;
            font-weight: bold;
            color: #000;
            letter-spacing: 2px;
            text-align: center;

            a {
                color: #000;
                text-decoration: none;
                }

            // @include transit(4);

            &._back {
                margin-top: 0;
                margin-left: 20px;
                float: left;

                font-size: 18px;
                color: #fff;

                a {color: #fff;}
                }
            .item-types-preorder._mark & {
                color: #fff;
                a {color: #fff;}
                }
            }

        .info-types-preorder {
            display: none;
            }

        .info_start-types-preorder {
            @extend .info-types-preorder;

            display: block;
            }
        .info_mid-types-preorder {
            @extend .info-types-preorder;

            padding: 0 20px;
            margin-top: 60px;

            clear: both;

            font-size: 12px;
            text-align: left;
            }
        .info_end-types-preorder {
            @extend .info-types-preorder;
            }
        .item-types-preorder._active {
            .info_start-types-preorder {
                display: none;
                }
            .info_mid-types-preorder {
                display: block;
                }
            }

        .descr-types-preorder {
            padding: 0 20px;

            font-size: 12px;
            text-align: center;

            .item-types-preorder._mark & {
                padding: 0 40px;
                }
            }

        .list-types-preorder {
            @include position(absolute, 125px 54px null);

            font-size: 14px;
            text-align: left;
            line-height: 18px;
            -webkit-font-smoothing: antialiased;

            .item-types-preorder._active &,
            .item-types-preorder._mark & {
                top: 140px;
                }

            .item_industrial-types-preorder & {
                right: 25px;
                left: 35px;
                }

            em {
                font-style: italic;
                }

            $preorder-list-dot-size: 4px;

            ul {
                position: relative;

                & + ul {
                    margin-top: 18px;
                    }
                }

            li {
                padding-left: 11px;
                margin-bottom: 6px;
                position: relative;
                z-index: 100;

                &._count {
                    width: 100%;
                    // padding: 2px 0;
                    // margin-bottom: 10px;
                    top: 0;
                    bottom: -15px;
                    left: 0;
                    position: absolute;
                    z-index: 50;

                    border-bottom: 1px solid #000;
                    &:before {display: none;}

                    ._mark & {
                        border-bottom-color: #fff;
                        }

                    b {
                        margin-top: -13px;
                        top: 50%;
                        left: 65%;
                        position: absolute;

                        font-size: 36px;
                        font-family: $font-header;
                        font-weight: bold;
                        }
                    }
                }

            li:before {
                width: $preorder-list-dot-size;
                height: $preorder-list-dot-size;
                top: (18px + 11 - 14) / 2;
                left: 0;
                position: absolute;

                border-radius: $preorder-list-dot-size;
                background-color: #000;

                content: "\0020";

                ._mark & {
                    background-color: #fff;
                    }
                }
            }

        .close-types-preorder {
            width: 16px;
            height: 16px;
            padding: 10px;
            top: 7px;
            right: 8px;
            position: absolute;
            cursor: pointer;
            // opacity: 0;

            // @include transit(4);

            // .item-types-preorder._active & {
            //     visibility: visible;
            //     opacity: 1;
            //     }

            &:before,
            &:after {
                @include pseudo;

                position: absolute;

                border-radius: 1px;
                background-color: #000;
                transform: rotate(45deg);
                }

            &:before {
                width: 16px;
                height: 4px;
                top: 16px;
                left: 10px;
                }

            &:after {
                width: 4px;
                height: 16px;
                top: 10px;
                left: 16px;
                }
            }

        .footer-types-preorder {
            @include position(absolute, null 0 30px 0);
            }

            .descr-footer-types-preorder {
                margin: 15px 0 -15px;
                display: none;

                font-size: 12px;
                line-height: 15px;
                text-align: center;

                .item-types-preorder._active &,
                .item-types-preorder._mark & {
                    display: block;
                    }
                }

        .cost-types-preorder {
            margin-bottom: 5px;

            font-size: 40px;
            text-align: center;

            strong {
                font-weight: bold;
                }

            span {font-size: 16px;}
            }

        .start-types-preorder,
        .start_send-types-preorder {
            margin: 0 40px;
            display: block;

            font-size: 18px;
            font-weight: bold;
            text-decoration: none;
            line-height: 40px;
            }

        .start-types-preorder {
            background-color: #06c;

            color: #fff;

            .item-types-preorder._active & {
                display: none;
                }
            .item-types-preorder._mark & {
                background-color: #fff;

                color: #06c;
                }
            }

        .start_send-types-preorder {
            @include reset_input;

            width: calc(100% - 40px * 2);
            margin-left: 40px;
            // display: none;

            border: 0;
            background-color: #fff;
            cursor: pointer;

            color: #000;

            .item-types-preorder._active & {
                display: block;
                }
            }

        .thanx-types-preorder {
            margin: 220px 20px 0;

            color: #fff;
            font-size: 12px;

            strong {
                display: block;

                font-size: 30px;
                font-weight: bold;
                font-family: $font-header;
                -webkit-font-smoothing: antialiased;
                }
            }

        .form-types-preorder {
            margin: 30px 20px 0;

            text-align: left;

            .title-fullform-preorder {
                margin-top: 30px;

                font-size: 16px;
                }

            input, textarea {
                @include reset_input;

                width: 100%;
                height: 24px;
                padding: 0 10px;
                margin-bottom: 10px;

                border-radius: 2px;
                border: 0;
                box-sizing: border-box;

                color: #333;
                font-family: $font-main;

                &:focus {
                    outline-style: none;
                    }

                @include placeholder {
                    color: #333;
                    }
                }
            textarea {
                height: 90px;
                padding: 10px;

                resize: none;
                }
            input[type='checkbox'] {
                margin-top: -100px;
                left: -100px;
                position: relative;

                visibility: hidden;

                &:checked + label:before {
                    background-position: 6px 2px;
                    }
                }

            label {
                padding-left: 20px;
                display: block;
                position: relative;

                font-size: 12px;
                line-height: 20px;
                color: #f5f5f5;

                &:before {
                    @include pseudo;

                    width: 28px;
                    height: 28px;
                    margin-top: -14px;
                    top: 50%;
                    left: -8px;
                    position: absolute;
                    z-index: 50;

                    background: url(../images/icon-checkbox_on_black.png) no-repeat -100px 2px;
                    }

                &:after {
                    @include pseudo;

                    width: 12px;
                    height: 12px;
                    margin-top: -6px;
                    top: 50%;
                    left: 0;
                    position: absolute;
                    z-index: 10;

                    border-radius: 2px;
                    background-color: #f5f5f5;
                    }
                }
            }

            .cols-form-types-preorder {
                @extend .clearfix;
                }

            .col_l-form-types-preorder {
                width: 180px;
                float: left;
                }
            .col_r-form-types-preorder {
                width: 90px;
                float: right;
                }

    .fullform-preorder {
        width: 550px;
        height: 440px;
        padding: 20px 75px 40px;
        margin: 40px auto 0;

        background-color: rgba(#000, .5);
        box-sizing: border-box;

        color: #fff;
        font-size: 0;

        input[type='name'],
        input[type='email'],
        textarea,
        button {
            @include reset_input;

            margin: 0;

            font-family: $font-main;
            }

        input[type='name'],
        input[type='email'],
        textarea {
            border: 0;
            border-radius: 2px;
            background-color: #fff;
            box-sizing: border-box;

            color: #333;
            font-size: 12px;

            &:focus {
                box-shadow: 0 0 0 1px #06c;
                outline-style: none;
                }

            @include placeholder {
                color: #333;
                }
            }

        textarea {
            width: 400px;
            height: 160px;
            padding: 10px;
            }

        input[type='name'],
        input[type='email'] {
            height: 24px;
            padding: 0 10px;
            margin-bottom: 10px;

            &[type='name'] {
                width: 130px;
                margin-right: 20px;
                }
            &[type='email'] {
                width: 250px;
                }
            }

        input[type='checkbox'] {
            margin-top: -100px;
            left: -100px;
            position: relative;

            visibility: hidden;

            &:checked + label:before {
                background-position: 6px 2px;
                }
            }

        label {
            padding-left: 20px;
            display: block;
            position: relative;

            font-size: 12px;
            line-height: 20px;
            color: #f5f5f5;

            &:before {
                @include pseudo;

                width: 28px;
                height: 28px;
                margin-top: -14px;
                top: 50%;
                left: -8px;
                position: absolute;
                z-index: 50;

                background: url(../images/icon-checkbox_on.png) no-repeat -100px 2px;
                }

            &:after {
                @include pseudo;

                width: 12px;
                height: 12px;
                margin-top: -6px;
                top: 50%;
                left: 0;
                position: absolute;
                z-index: 10;

                border-radius: 2px;
                background-color: #f5f5f5;
                }
            }

            button {
                width: 180px;
                height: 40px;
                margin: 30px auto 0;
                display: block;

                border: 0;
                background-color: #06c;

                color: #fff;
                font-size: 18px;
                font-weight: bold;
                line-height: 40px;
                cursor: pointer;
                }
        }

        .title-fullform-preorder {
            margin-bottom: 10px;

            font-size: 16px;
            font-weight: bold;
            line-height: 20px;
            }

        .title_top-fullform-preorder {
            @extend .title-fullform-preorder;

            margin-top: 20px;
            }
