.schema {
    width: 919px;
    margin: auto;
    // position: relative;

    // $n: 9;
    // $i: 0;
    // @while $i < $n {
    //     &[data-popup='#{$i + 1}'] .popup_#{$i+1}-schema {
    //         opacity: 1;
    //         transform: translate(0, 0);
    //         transition-property: opacity;
    //         }

    //     $i: $i + 1;
    //     }
    }

    .popup-schema {
        width: 260px;
        padding: 20px;
        margin-top: 20px;
        margin-left: -130px;
        top: 50%;
        left: 50%;
        position: absolute;

        background-color: rgba(#06c, .9);
        box-sizing: border-box;
        z-index: 2000;

        @include transit(4) {
            transition-property: opacity, transform;
            transition-delay: 0, .4s;
        };
        opacity: 0;
        transform: translate(500%, 500%);

        text-align: center;

        &:after {
            @include pseudo;

            width: 0;
            height: 0;
            margin-left: -9px;
            top: -20px;
            left: 50%;
            position: absolute;

            border: 9px solid transparent;
            border-width: 10px 9px;
            border-bottom-color: rgba(#06c, .9);
            }

        strong {
            font-size: 14px;
            font-weight: bold;
            font-family: $font-header;
            -webkit-font-smoothing: antialiased;
            }

        p {
            margin-top: 10px;

            color: #fff;
            font-size: 12px;
            line-height: 16px;
            }

        &._bottom {
            margin-top: -20px;

            &:after {
                top: auto;
                bottom: -20px;
                border-color: transparent;
                border-top-color: rgba(#06c, .9);
                }
            }

        &._opened {
            opacity: 1;
            transform: translate(0, 0);
            transition-property: opacity;
            }
        }

    // .popup_1-schema {
    //     margin-top: 102px;
    //     margin-left: -440px;
    //     &:after {left: 155px;}
    //     }

    // .popup_2-schema {
    //     margin-top: -100px;
    //     margin-left: -444px;
    //     &:after {left: 177px;}
    //     }

    // .popup_3-schema {
    //     margin-top: -42px;
    //     margin-left: -146px;
    //     &:after {left: 57px;}
    //     }

    // .popup_4-schema {
    //     margin-top: -87px;
    //     margin-left: -54px;
    //     &:after {left: 134px;}
    //     }

    // .popup_5-schema {
    //     margin-top: -77px;
    //     margin-left: 250px;
    //     &:after {left: 58px;}
    //     }

    // .popup_6-schema {
    //     margin-top: 260px;
    //     margin-left: -529px;
    //     &:after {left: 157px;}
    //     }

    // .popup_7-schema {
    //     margin-top: 205px;
    //     margin-left: -293px;
    //     &:after {left: 60px;}
    //     }

    // .popup_8-schema {
    //     margin-top: 162px;
    //     margin-left: 117px;
    //     &:after {left: 58px;}
    //     }

    // .popup_9-schema {
    //     margin-top: 121px;
    //     margin-left: 299px;
    //     &:after {left: 88px;}
    //     }
