.section_usecase {
    background-color: #06c;
    overflow: hidden;
    }

    .slider-section_usecase {

        width: 100%;
        height: 522px;
        margin-top: (-522px / 2);
        top: 50%;
        position: absolute;

        $slider_count: 10;

        ul {
            width: 100% * $slider_count;

            font-size: 0;

            @include transit(4);

            li {
                width: (100% / $slider_count);
                display: inline-block;

                opacity: 0;

                @include transit(4);

                text-align: center;
                }

            $i: 0;
            @while $i < $slider_count {
                &[data-state='#{$i}'] {
                    transform: translateX(-100% * $i / $slider_count);
                    li:nth-child(#{$i + 1}) {opacity: 1;}
                    }

                $i: $i + 1;
                }

            }
        }

            .img-slider-section_usecase {
                height: 390px;

                line-height: 390px;

                svg {
                    display: inline-block;
                    vertical-align: bottom;
                    }
                }

            .txt-slider-section_usecase {
                margin-top: 30px;

                color: #fff;

                strong {
                    font-size: 36px;
                    line-height: 40px;
                    font-weight: bold;
                    font-family: $font-header;
                    -webkit-font-smoothing: antialiased;
                    }

                p {
                    margin-top: 15px;

                    font-size: 16px;
                    line-height: 24px;
                    }
                }

        .arrow-slider-section_usecase {
            width: 27px;
            height: 47px;
            margin-top: -25px;
            top: 50%;
            position: absolute;
            z-index: 10000;

            cursor: pointer;

            &:hover {
                &:before,
                &:after {
                    background-color: #293d52;
                    }
                }

            &:before,
            &:after {
                @include pseudo;

                width: 30px;
                height: 4px;
                position: relative;

                border-radius: 4px;
                background-color: rgba(#000, .8);
                }
            }

        .prev-slider-section_usecase {
            left: 50px;

            &:before,
            &:after {
                left: -3px;
                }

            &:before {
                top: 10px;
                transform: rotate(-45deg);
                }

            &:after {
                bottom: -25px;
                transform: rotate(45deg);
                }
            }

        .next-slider-section_usecase {
            right: 50px;

            &:before,
            &:after {
                left: -3px;
                }

            &:before {
                top: 10px;
                transform: rotate(45deg);
                }

            &:after {
                bottom: -25px;
                transform: rotate(-45deg);
                }
            }

        .nav-slider-section_usecase {
            width: 100%;
            bottom: -50px;
            position: absolute;

            text-align: center;

            span {
                width: 15px;
                height: 15px;
                margin: 0 5px;
                display: inline-block;

                border-radius: 30px;
                background-color: #000;
                cursor: pointer;

                &:hover {
                    background-color: #333;
                    }

                &._active {
                    background-color: #fff;
                    }
                }
            }
