.section_platform {
    background-color: #f5f5f5;
    overflow: hidden;
    }

    .sect_2pre-mainSlider {
        opacity: 0;

        @include transit(4);

        #mainSlider[data-state='2'] & {
            opacity: 1;
            z-index: 1000;
            }

        ul {
            width: 100%;
            height: 295px;
            padding-right: 265px;
            top: 195px;
            position: absolute;

            background-color: #fff;
            box-sizing: border-box;

            font-size: 0;
            }

        li {
            width: 25%;
            height: 295px;
            display: inline-block;
            position: relative;

            box-sizing: border-box;
            vertical-align: top;

            font-size: 14px;

            &:nth-child(2n + 2) {
                border: 1px solid #fcfcfc;
                border-width: 0 1px;
                background-color: #fdfdfd;
                }

            &:hover {
                border: 0;
                }
            }
        }

    .sect_2-mainSlider {

        #mainSlider[data-state='2'] & {
            z-index: 6000;
            }

        li {
            position: relative;
            z-index: 10000;
            }

        a {
            height: 295px - 40px;
            padding-top: 40px;
            display: block;

            color: #000;
            text-decoration: none;

            &:hover {
                background-color: #0062c4;

                color: #fff;

                img {
                    display: none;
                    }

                p span {
                    width: 230px;
                    margin: auto;
                    display: inline-block;
                    }

                .footer-item-section_additional:after {
                    background-color: rgba(#fff, .3);
                    }
                }
            }

        p span {
            display: none;

            font-size: 10px;
            line-height: 22px;
            text-align: center;
            vertical-align: middle;
            }
        }
