.section_speed {
    background-color: #fff;

    &._gray {
        background-color: #f5f5f5;
        }
    }

.section_speed_1 {
    .header-section_kit,
    .descr-section_opportunities {
        opacity: 0;

        @include transit(4);
        }

    &[data-state='1'] {
        width: 100%;
        margin-top: 0 !important;
        left: 0;
        top: 0;
        position: fixed !important;
        z-index: 30000 !important;

        & ~ section,
        & ~ .preorder {
            z-index: 30000 !important;
            }

        .header-section_kit,
        .descr-section_opportunities {
            opacity: 1;
            }
        .img-section_speed_1 {
            opacity: 1;
            // ma
            top: 50%;
            position: absolute;
            }
        }
    }

    .img-section_speed_1 {
        width: 310px;
        height: 500px;
        margin-top: -168px;
        margin-left: (-310px / 2);
        top: 50%;
        left: 50%;
        position: fixed;

        opacity: 0;

        &._clearTransit {
            transition: none;
            }

        svg {
            width: 310px;
            height: 500px;
            }

        @include transit(4) {
            transition-property: opacity;
            }
        }

.section_speed_2 {
    overflow: hidden;

    svg {
        width: 919px;
        height: 499px;
        margin-top: -200px;
        margin-left: -460px;
        top: 50%;
        left: 50%;
        position: absolute;

        > g > rect {
            fill: #fff;
            stroke: #fff !important;
            }

        // stroke: #000;

        circle, line, polygon, polyline, rect, path, ellipse {
            stroke: #000;
            }

        > g:hover {
            circle, line, polygon, polyline, rect, path, ellipse {
                stroke: #06c;
                }

            cursor: pointer;
            }
        }
    }
