.section_authors {}

    .list-section_authors {
        font-size: 0;
        }

    .item-section_authors {
        width: (100% / 4);
        display: inline-block;
        position: relative;

        font-size: 20px;
        }

        .cont-item-section_authors {
            width: 100%;
            bottom: 14px;
            left: 0;
            position: absolute;
            z-index: 300;

            color: #fff;
            line-height: 20px;

            strong {
                display: block;

                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: 2px;
                }
            }

        .postname-item-section_authors {
            margin-bottom: 5px;

            font-size: 12px;
            font-weight: bold;
            text-align: center;
            letter-spacing: 1px;
            }

        .descr-item-section_authors {
            height: 18px * 2;

            font-size: 12px;
            text-align: center;
            line-height: 18px;
            }

        .img-item-section_authors {
            width: 100%;
            position: relative;
            display: block;
            z-index: 200;
            }
