.section_press {
    background-color: #f5f5f5;
    position: relative;

    ul {
        padding: 70px 35px 0;

        font-size: 0;
        text-align: center;
        }

    li {
        width: 33%;
        margin-bottom: 45px;
        display: inline-block;
        vertical-align: middle;
        }
    }

    .save-section_press {
        width: 220px;
        height: 48px;
        margin-left: -110px;
        @include position(absolute, null null 30px 50%);

        background-color: #06c;

        font-size: 18px;
        font-weight: bold;
        text-align: center;
        line-height: 48px;
        text-shadow: 0 1px 5px rgba(#000, .2);
        color: #fff;
        text-decoration: none;
        }
