.section_about {}

    .descr-section_about {
        width: 816px;
        // height: 48px * 3; // potential height, used for vertical alignment
        margin: (-48px * 3 / 2) 0 0 (-816px / 2);
        top: 50%;
        left: 50%;
        position: absolute;

        font-size: 30px;
        line-height: 48px;
        color: #fff;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        }
