.section_tech {
    position: relative;

    background: #dadada url(../images/section_tech-bg.png) repeat 50% 0 fixed;
    overflow: hidden;
    }

.section_tech[data-state='0'] {
    .title-section_tech {
        opacity: 0;
        }

    .inner-section_tech._preview {
        .link-section_tech {
            opacity: 0;
            }

        .lists-section_tech {
            opacity: 0;
            }
        }

    .inner-section_tech._full {
        display: none;
        }
    }

.section_tech[data-state='1'] {
    .img-section_tech {
        opacity: 1 !important;

        @include transit(4) {
            transition-property: opacity;
            };
        }

    .inner-section_tech._preview {
        z-index: 10000;
        }

    .inner-section_tech._preview .lists-section_tech {
        opacity: 1;
        }

    .cols-section_tech {
        opacity: 0 !important
        }
    }

.section_tech[data-state='2'] {
    .img-section_tech {
        opacity: 0 !important;

        @include transit(4) {
            transition-property: opacity;
            };
        }

    .inner-section_tech._preview .lists-section_tech {
        opacity: 0;
        }

    .inner-section_tech._full {
        z-index: 10000;
        display: block;
        opacity: 1;
        }
    .cols-section_tech {
        opacity: 1 !important;
        }
    }

.section_tech[data-state='2']._fixed,
.section_tech._fixed {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;

    & ~ section, & ~ .preorder, & ~ .footer {
        z-index: 100000;
        position: relative;
        }

    & + section {
        background-color: #fff;
        }

    .img-section_tech {
        transform: translateY(0) !important;
        }

    .inner-section_tech._full .link-section_tech {
        opacity: 1 !important;
        }
    }

    .inner-section_tech {
        width: 100%;
        top: 155px;
        bottom: 135px;
        position: absolute;
        z-index: 1000;

        &._hid {z-index: 500;}
        }

    .cont-section_tech {
        width: 100%;
        height: 576px;
        margin-top: (-576px / 2);
        top: 50%;
        position: absolute;
        }

    .lists-section_tech {
        width: 410px * 2 + 170px * 2;
        margin: auto;
        display: table;

        @include transit(4);

        ul {
            width: 410px;
            top: -10px;
            position: relative;
            display: table-cell;
            vertical-align: middle;

            &._left {
                padding-right: 170px + 14;

                text-align: right;

                li {
                    padding-right: 85px;

                    &:after, b {
                        right: 0;
                        }
                    }
                }

            &._right {
                padding-left: 170px + 14;

                li {
                    padding-left: 85px;

                    &:after, b {
                        left: 0;
                        }
                    }
                }

            strong {
                margin-bottom: 5px;
                display: block;

                font-size: 18px;
                font-family: $font-header;
                font-weight: bold;
                -webkit-font-smoothing: antialiased;
                line-height: 20px;
                }

            p {
                font-size: 11px;
                line-height: 14px;
                }

            }

        li {
            min-height: 65px;
            margin: 46px 0;
            position: relative;
            line-height: 65px;

            &:after {
                @include pseudo;

                width: 65px;
                height: 65px;
                top: 0;
                position: absolute;

                border-radius: 100%;
                background-color: #f2f2f2;
                }
            }

        b {
            width: 65px;
            height: 65px;
            top: 0;
            position: absolute;
            display: block;
            z-index: 50;

            background-repeat: no-repeat;
            background-position: 50%;
            }
        }

        .item-lists-section_tech {
            display: inline-block;
            vertical-align: middle;
            }

    .cols-section_tech {
        width: 100%;
        margin-top: 15px;

        text-align: center;

        opacity: 0;

        @include transit(4);

        // ._hid & {
        //     opacity: 0;
        //     }

        strong {
            margin-bottom: 10px;
            display: block;

            font-size: 18px;
            text-transform: uppercase;
            }

        b {
            margin-top: 10px;
            display: block;

            font-weight: bold;
            }
        }

        .col-section_tech {
            width: 300px;
            margin: 0 10px;
            display: inline-block;
            vertical-align: top;

            text-align: left;
            font-size: 11px;
            line-height: 14px;

            li {
                margin-bottom: 20px;
                }
            }

    .img-section_tech {
        width: 346px;
        height: 526px;
        margin-top: (-526px / 2);
        margin-left: (-346px / 2);
        top: 50%;
        left: 50%;
        position: absolute;

        transform: translateY(100%);
        opacity: 1;

        // &._hid {
        //     transform: translateY(300px);
        //     opacity: 0;
        //     }

        // ._hid & {
        //     opacity: 0 !important;
        //     }
        }

    .title-section_tech {
        margin-top: 40px;
        display: block;

        font-size: 48px;
        font-family: $font-header;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;

        @include transit(4);

        // opacity: 0;
        // &._hid {
        //     }

        // .inner-section_tech._preview._hid ~ &,
        // .inner-section_tech._full:not(._hid) ~ & {
        //     opacity: 0;
        //     }

        // .inner-section_tech._preview:not(._hid) ~ &,
        // .inner-section_tech._full:not(._hid) ~ & {
        //     opacity: 1;
        //     }
        }

    .link-section_tech {
        width: 220px;
        margin-left: (-220px / 2);
        left: 50%;
        bottom: -60px;
        position: absolute;
        z-index: 10000;

        background-color: #06c;

        line-height: 48px;
        text-align: center;
        text-shadow: 0 1px 5px rgba(#000, .2);
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;

        // display: none;

        // @include transit(4);

        // ._hid & {
        //     opacity: 0;
        //     }
        }
