.section_full {
    min-width: $width-minimal;
    position: relative;
    }

.section {
    @extend .section_full;

    min-height: 800px;
    height: 100%;
    }

    .title-section {
        font-size: 48px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 48px;
        letter-spacing: 2px;
        }

._gray {
    background-color: #f5f5f5;
    }

@import 'section_main';
@import 'section_platform';
@import 'section_types';
@import 'section_about';
@import 'section_authors';
@import 'section_pair';
@import 'section_history';
@import 'section_press';
@import 'section_contacts';
@import 'section_support';

@import 'section_kit';
@import 'section_kit_geek';
@import 'section_kit_pro';
@import 'section_kit_industrial';
@import 'section_kit_options';

@import 'section_posibilities';
@import 'section_tech';
@import 'section_usecase';
@import 'section_opportunities';
@import 'section_outdate';
@import 'section_speed';
@import 'section_image';
@import 'section_additional';
@import 'section_complect';
