.section_kit_pro, .section_opportunities {
    z-index: 30000;
    }

    .descr-section_kit_pro {
        width: 875px;
        }

.section_pro_complete {
    min-width: $width-minimal;

    padding-bottom: 50px;
    }

.descr-section_pro {
    width: 900px;
    margin: 30px auto 0;

    font-size: 16px;
    line-height: 24px;
    text-align: center;
    }

    .categories-section_kit_pro {
        margin-top: 85px;

        background-color: #fff;
        font-size: 0;

        li {
            width: (100% / 6);
            height: 250px;
            display: inline-block;
            vertical-align: top;

            .flipper,
            .cont-flipper,
            .front-flipper,
            .back-flipper {
                width: 100%;
                height: 250px;
                }

            .back-flipper {
                background-color: #06c;

                strong {
                    color: #fff;
                    &:after {background-color: #4d94db;}
                    }
                }
            }

        p {
            width: 100%;
            height: 180px;
            top: 0;
            left: 0;
            position: absolute;

            line-height: 180px;
            font-size: 12px;
            color: #fff;
            text-align: center;

            span, svg, img {
                display: inline-block;
                vertical-align: middle;
                }

            span {
                line-height: 18px;
                }
            }

        strong {
            padding: 18px 20px 0;
            margin-top: 180px;
            display: block;
            position: relative;

            text-align: center;
            vertical-align: top;
            -webkit-font-smoothing: antialiased;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 16px;
            font-family: $font-header;

            &:after {
                @include pseudo;

                width: 70px;
                height: 1px;
                margin-left: (-70px / 2);
                top: 0;
                left: 50%;
                position: absolute;

                background-color: #b2b2b2;
                }
            }
        }

    .app-section_kit_pro {
        padding-top: 65px;

        text-align: center;

        strong {
            margin: 20px 0;
            display: block;

            font-size: 30px;
            font-family: $font-header;
            font-weight: bold;
            text-transform: uppercase;
            }

        p {
            width: 510px;
            margin: auto;

            font-size: 16px;
            }
        }
