.section_main {}

    .descr-section_main {
        width: 560px;
        margin-left: - (560px / 2);
        top: 535px;
        left: 50%;
        position: absolute;

        color: #fff;
        font-size: 22px;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        }

    .logo-section_main {
        width: 569px;
        height: 77px;
        margin-left: -(569px / 2);
        top: 403px;
        left: 50%;
        position: absolute;

        svg {
            width: 569px;
            height: 77px;
            display: block;
            }
        }

    .lang-section_main {
        width: 62px;
        margin-left: -31px;
        top: 160px + $height-menu;
        left: 50%;
        position: absolute;

        font-family: $font-header;
        text-transform: uppercase;
        color: rgba(#fff, .9);
        -webkit-font-smoothing: antialiased;

        a {
            width: 62px;
            height: 29px;
            display: block;

            border: 1px solid rgba(#fff, .4);

            line-height: 29px;
            font-size: 15px;
            text-align: center;
            font-weight: normal;
            color: inherit;
            text-decoration: none;
            }
        }

    .arrow-section_main {
        $width: 32px;
        width: $width;
        height: 20px;
        margin-left: - $width / 2;
        bottom: 58px;
        left: 50%;
        position: absolute;

        cursor: pointer;

        &:before,
        &:after {
            @include pseudo;

            width: 22px;
            height: 3px;
            position: absolute;

            border-radius: 1px;
            background-color: rgba(#fff, .8);
            }

        &:before {
            top: 8px;
            left: -2px;

            transform: rotate(45deg);
            }
        &:after {
            top: 8px;
            left: 12px;

            transform: rotate(-45deg);
            }
        }
