.section_types {
    font-size: 0;
    color: #fff;
    }

    .item-section_types {
        width: 50%;
        height: 50%;
        display: inline-block;
        position: relative;
        overflow: hidden;

        vertical-align: top;

        font-size: 10px;
        color: #fff;
        text-decoration: none;
        }

        $items: (
            geek: #06c,
            pro: #142c86,
            industrial: #142c86,
            options: #142c86
        );

        @each $name, $color in $items {
            .item_#{$name}-section_types {
                background: $color url(../images/section_types-#{$name}.jpg) no-repeat 50%;
                background-size: cover;
                }
            }

    .name-section_types {
        margin-top: 24%;
        position: relative;
        z-index: 100;

        font-size: 60px;
        font-family: $font-header;
        font-weight: bold;
        letter-spacing: 3px;
        text-align: center;
        }

    .descr-section_types {
        width: 100%;
        bottom: 30px;
        position: absolute;
        z-index: 90;

        color: rgba(#fff, .6);
        font-size: 20px;
        -webkit-font-smoothing: antialiased;
        text-align: center;

        line-height: 28px * 2;

        span {
            display: inline-block;

            vertical-align: middle;

            line-height: 28px;
            }
        }
