.section_support {}

    .cont-section_support {
        width: 800px - 20px * 2;
        padding: ($height-menu + 80px) 20px 0;
        margin: auto;
        }

    .title-section_support {
        @extend .title-section;

        margin-bottom: 90px;
        }

    .pair-section_support {
        font-size: 0;
        }

    .half-section_support {
        width: 320px;

        display: inline-block;
        vertical-align: top;
        }

    .nav-section_support {

        font-size: 16px;
        font-family: $font-header;
        line-height: 20px;
        -webkit-font-smoothing: antialiased;

        ul {
            text-transform: uppercase;
            font-weight: bold;
            }

        li {
            margin-bottom: 20px;
            }

        a {
            color: #fff;
            text-decoration: none;
            }
        }

    .download-section_support {
        min-height: 30px;
        padding-left: 50px;

        background: url(../images/icon-download.svg) no-repeat 0 0;

        color: #fff;

        strong {
            margin-bottom: -5px;
            display: block;

            font-size: 14px;
            font-weight: bold;
            line-height: 18px;
            text-transform: uppercase;
            }

        span {
            font-family: $font-main;
            font-size: 12px;
            line-height: 16px;
            color: #f5f5f5;
            }
        }

    a.archive-section_support {
        width: 90px;
        height: 30px;
        margin-top: 7px;
        display: inline-block;

        background-color: #fff;
        vertical-align: top;

        color: #06c;
        line-height: 30px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        text-shadow: 0 1px 5px rgba(#000, .2);
        }

    .faq-section_support {
        width: 270px;

        font-size: 14px;
        line-height: 20px;

        li {
            padding-left: 23px;
            margin-bottom: 5px;
            position: relative;

            &:after {
                @include pseudo;
                @include arrow(left, #000, 5px 8px);

                top: 3px;
                left: 1px;
                position: absolute;
                }
            &._opened:after {
                top: 8px;
                left: -3px;
                border-left-color: #fff;
                transform: rotate(90deg);
                }

            &._opened p {
                height: auto;
                margin: 5px 0 15px;
                opacity: 1;
                // display: block;
                }
            &:not(._opened) p {
                height: 0 !important;
                overflow: hidden;
                }
            }

        a {
            color: #f5f5f5;
            text-decoration: none;
            }

        p {
            opacity: 0;

            @include transit(4) {
                transition-property: height, margin, opacity;
            };

            color: #ccc;
            font-size: 12px;
            line-height: 20px;
            }
        }

    .search-section_support {
        margin-top: 65px;

        font-size: 0;

        input,
        button {
            @include reset_input;

            border: 0;
            box-sizing: border-box;
            vertical-align: top;
            }

        input[type='text'] {
            width: 220px;
            height: 30px;
            padding: 0 10px;

            outline-style: none;

            font-family: $font-main;
            font-size: 12px;
            }

        button {
            width: 30px;
            height: 30px;

            background: #000 url(../images/icon-search_white.svg) no-repeat 50%;
            cursor: pointer;
            }
        }

    #questionMark-section_support {
        // height: 530px; // Real height

        margin-top: (-530px / 2);
        margin-left: 240px;
        top: 50%;
        left: 50%;
        position: absolute;
        }
