.section_opportunities {
    background-color: #f5f5f5;
    }

    .descr-section_opportunities {
        width: 740px;
        margin: 30px auto 0;

        font-size: 16px;
        line-height: 24px;
        text-align: center;
        }

    .wrap-section_opportunities {
        width: 100%;
        top: 200px;
        bottom: 0;
        position: absolute;
        // background-color: rgba(#000, .3);
        }

        .cont-section_opportunities {
            width: 100%;
            height: 546px;
            margin-top: (-546px / 2);
            top: 50%;
            position: absolute;

            li {
                width: 239px;
                height: 239px;
                margin-bottom: 1px;
                position: relative;

                // background-color: #fff;

                strong {
                    width: 100%;
                    height: 50px - 18px;
                    padding-top: 18px;
                    bottom: 10px;
                    position: absolute;

                    text-align: center;
                    font-size: 16px;
                    line-height: 16px;
                    font-family: $font-header;
                    -webkit-font-smoothing: antialiased;

                    &:after {
                        @include pseudo;
                        width: 70px;
                        height: 1px;
                        margin-left: -35px;
                        top: 0;
                        left: 50%;
                        position: absolute;

                        background-color: #b2b2b2;
                        }
                    }

                p {
                    height: 239px - 60px;
                    padding: 0 15px;

                    line-height: 239px - 60px;
                    text-align: center;

                    svg {
                        vertical-align: middle;
                        }

                    span {
                        display: inline-block;
                        vertical-align: middle;

                        font-size: 12px;
                        line-height: 18px;
                        }
                    }

                &:hover {
                    z-index: 10000;

                    svg rect,
                    svg circle,
                    svg line,
                    svg path {
                        stroke: #06c;
                        }
                    svg circle {
                        // fill: #06c;
                        }
                    }

                .flipper {
                    width: 239px;
                    height: 239px;
                    }

                .front-flipper, .back-flipper {
                    width: 239px;
                    height: 239px;
                    top: 0;
                    // left: 0;
                    position: absolute;
                    }

                .front-flipper {
                    z-index: 1000;

                    background-color: #fff;
                    }

                .back-flipper {
                    left: 0;

                    background-color: #06c;
                    color: #fff;
                    strong:after {background-color: #4d94db;}
                    }

                // .front-flipper,
                // &._front-flipper .back-flipper {
                //     display: none;
                //     }

                // &._front-flipper .front-flipper {
                //     display: block;
                //     }
                }

            ul {
                width: 239px;
                top: 22px;
                position: absolute;
                z-index: 250;

                &._left {
                    margin-left: -390px;
                    left: 50%;
                    }
                &._right {
                    margin-right: -390px;
                    right: 50%;
                    }
                }
            }

        .img-section_opportunities {
            width: 346px;
            height: 526px;
            margin: auto;
            display: block;
            position: relative;
            z-index: 500;

            @include transit(4) {
                transition-property: opacity;
                }

            &._clearTransit {
                transition: none;
                }

            &._fixed {
                margin-top: -175px;
                margin-left: -173px;
                top: 50%;
                left: 50%;
                position: fixed;
                }

            &._second {
                // margin-top: 0;
                // margin-left: -173px;
                // left: 50%;
                // position: absolute;

                margin-top: -175px;
                margin-left: -173px;
                top: 50%;
                left: 50%;
                position: fixed;
                }
            }

        .section_opportunities[data-state='1'] .img-section_opportunities {
            margin-left: (-346px / 2);
            top: 0;
            left: 50%;
            position: fixed;
            }
        .section_opportunities[data-state='2'] {
            z-index: 10000;

            & + section {
                z-index: 9999;
                }
            }
        .section_opportunities[data-state='2'] .img-section_opportunities {
            // margin-left: (-346px / 2);
            top: 100%;
            // left: 50%;
            position: relative;
            }

    .all-section_opportunities {
        margin-right: -390px;
        right: 50%;
        bottom: -10px;
        position: absolute;

        line-height: 40px;
        color: #06c;

        b,
        span {
            display: inline-block;

            background-color: #fff;
            vertical-align: top;
            }

        b {
            width: 40px;
            margin-right: 2px;

            font-size: 30px;
            font-weight: bold;
            text-align: center;
            }

        span {
            padding: 0 30px;
            font-size: 18px;
            font-weight: bold;
            }
        }
