.section_image {
    position: relative;
    overflow: hidden;
    }

    .title-section_image {
        margin: 100px 0 30px;

        font-size: 48px;
        font-family: $font-header;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        line-height: 48px;
        }

    .descr-section_image {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        }

    .post-section_image {
        width: 100%;
        bottom: 105px;
        position: absolute;

        font-size: 18px;
        line-height: 30px;
        text-align: center;
        }

    .post_wImg-section_image {
        @extend .post-section_image;

        width: 520px;
        margin-left: (-520px / 2);
        left: 50%;

        svg, img {
            float: left;
            }

        span {
            margin-top: 6px;
            display: inline-block;
            }
        }

    .cont-section_image {
        width: 100%;
        padding: 0 120px;
        top: 300px;
        bottom: 230px;
        position: absolute;

        box-sizing: border-box;

        // Debug
        // background-color: #ccc;

        table {
            width: 100%;
            height: 100%;
            vertical-align: middle;
            font-size: 12px;
            text-align: center;
            }

        td {
            vertical-align: middle;
            }
        }
