.section_outdate {
    // background: #000 url(../images/section_outdate-bg.png) no-repeat 50% 270px;
    background-color: #000;
    overflow: hidden;

    color: #fff;

    .header-section_kit {
        margin-bottom: 20px;

        opacity: 0;

        @include transit(4);
        }
    }

.section_outdate[data-state='0'] {
    .i-section_outdate {
        $k: 3;

        &[data-size='1'] {
            transition-delay: .2s * $k - .2s;
            }
        &[data-size='2'] {
            transition-delay: .1s * $k - .1s;
            }
        &[data-size='3'] {
            transition-delay: 0;
            }
        }
    }
.section_outdate[data-state='2'] {
    .i-section_outdate {
        opacity: 1;
        transform: translateX(0);
        }
    }
.section_outdate[data-state='3'] {
    width: 100%;
    top: 0;
    position: fixed;

    & ~ section,
    & ~ .preorder,
    & ~ footer {
        // z-index: 999;
        position: relative;
        }

    .descr-section_outdate {
        opacity: 1;
        }
    .header-section_kit {
        opacity: 1;
        }
    .button-section_outdate {
        opacity: 1;
        }
    .i-section_outdate {
        opacity: 1;
        // position: relative;
        transform: translateX(0);
        // &[data-size='1'] {margin-top: -150px;}
        // &[data-size='2'] {margin-top: -103px;}
        // &[data-size='3'] {margin-top: -5px;}
        }
    .i_l-section_outdate {
        &[data-size='1'] {margin-left: -172px;}
        &[data-size='2'] {margin-left: -150px;}
        &[data-size='3'] {margin-left: -112px;}
        }
    .i_r-section_outdate {
        &[data-size='1'] {margin-right: -172px;}
        &[data-size='2'] {margin-right: -150px;}
        &[data-size='3'] {margin-right: -112px;}
        }
    }

.i-section_outdate {
    top: 50%;
    position: fixed;

    $k: 3;
    opacity: 0;

    @include transit($k + 2);

    &[data-size='1'] {
        width: 345px;
        height: 502px;
        margin-top: -150px;

        background: url(../images/section_outdate-pic-01.png) no-repeat 0 0;
        }
    &[data-size='2'] {
        width: 300px;
        height: 431px;
        margin-top: -103px;

        background: url(../images/section_outdate-pic-02.png) no-repeat 0 0;
        transition-delay: .1s * $k - .1s;
        }
    &[data-size='3'] {
        width: 225px;
        height: 313px;
        margin-top: -5px;

        background: url(../images/section_outdate-pic-03.png) no-repeat 0 0;
        transition-delay: .2s * $k - .2s;
        }
    }

.i_l-section_outdate {
    left: 50%;

    transform: translateX(-400%);

    &[data-size='1'] {
        margin-left: -273px;
        }
    &[data-size='2'] {
        margin-left: -351px;
        }
    &[data-size='3'] {
        margin-left: -414px;
        }
    }
.i_r-section_outdate {
    right: 50%;

    transform: translateX(400%);

    &[data-size='1'] {
        margin-right: -273px;
        }
    &[data-size='2'] {
        margin-right: -351px;
        }
    &[data-size='3'] {
        margin-right: -414px;
        }
    }

    .descr-section_outdate {
        width: 680px;
        margin: 0 auto 5px;

        opacity: 0;

        text-align: center;
        font-size: 16px;
        line-height: 24px;

        @include transit(4);
        }

    .button-section_outdate {
        width: 150px;
        height: 140px;
        padding-top: 80px;
        margin-top: (-140px / 2);
        top: 50%;
        right: 0;
        position: absolute;

        opacity: 0;
        background: #06c url(../images/section_outdate-box.svg) no-repeat 50% 30%;
        box-sizing: border-box;

        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;

        @include transit(4);
        }
