.section_history {
    overflow: auto;
    }

    .descr-section_history {
        width: 585px;
        margin: 10px auto 0;

        font-size: 16px;
        line-height: 24px;
        text-align: center;
        }

    .timeline-section_history {
        padding-bottom: 30px;
        margin-top: 23px;

        strong {
            background-color: #fff;

            font-weight: bold;
            }
        }

        .year-timeline-section_history {
            height: 144px;
            display: block;
            position: relative;

            background: url(../images/section_history-dot.svg) repeat-y 50% 23px;

            font-size: 16px;
            line-height: 16px;
            text-align: center;

            p {
                width: 269px;
                top: 17px;
                position: absolute;

                font-size: 12px;
                line-height: 16px;

                &:after {
                    @include pseudo;

                    width: 20px;
                    height: 2px;
                    top: 7px;
                    position: absolute;

                    background-color: #06c;
                    }

                &._right {
                    padding-left: 42px;
                    left: 50%;

                    text-align: left;

                    &:after {left: 12px;}
                    }

                &._left {
                    padding-right: 42px;
                    right: 50%;

                    text-align: right;

                    &:after {right: 12px;}
                    }

                @for $i from 1 through 11 {
                    &._dot-#{$i} {
                        top: 17px + 11 * ($i - 1);
                        }
                    }
                }
            }
