.section_additional {
    overflow: hidden;
    position: relative;
    }

    .slider-section_additional {
        height: 390px;
        padding: 0 100px;
        margin: 80px 0;
        position: relative;

        background-color: #fff;

        ul {
            width: 335px;
            font-size: 0;
            position: relative;

            @include transit(4) {
                transition-property: margin-left;
                }
            }

        li {
            width: 335px;
            height: 390px;
            display: inline-block;
            position: relative;

            font-size: 12px;
            line-height: 18px;

            .flipper,
            .cont-flipper,
            .front-flipper,
            .back-flipper {
                width: 335px;
                height: 390px;
                }

            .back-flipper {
                background-color: #06c;

                color: #fff;

                .cost-item-section_additional {
                    color: #fff;
                    }

                .count-item-section_additional {
                    color: #06c;
                    background-color: #fff;
                    }

                .footer-item-section_additional {
                    &:after {background-color: #4d94db;}
                    }
                }

            .img-item-section_additional,
            p {
                line-height: 270px;
                text-align: center;

                span, img, svg {
                    display: inline-block;
                    line-height: 18px;
                    vertical-align: middle;
                    }
                }
            }

        .arrow-slider-section_usecase {
            &:before,
            &:after {
                background-color: #d6d6d6;
                }

            &:hover {
                &:before,
                &:after {
                    background-color: #ccc;
                    }
                }
            }
        }

    .cost-item-section_additional {
        height: 50px;

        font-size: 24px;
        color: #06c;
        line-height: 50px;
        text-align: center;

        strong {
            font-weight: bold;
            font-family: $font-header;
            }
        }

    .count-item-section_additional {
        width: 30px;
        height: 30px;
        top: 10px;
        right: 10px;
        position: absolute;

        background-color: #06c;

        text-align: center;
        line-height: 32px;
        font-size: 28px;
        font-weight: bold;
        color: #fff;
        cursor: pointer;
        }

    .footer-item-section_additional {
        width: 100%;
        height: 70px - 15px;
        padding: 0 20px 0;
        // margin-top: 180px;
        bottom: 15px;
        position: absolute;

        box-sizing: border-box;

        text-align: center;
        vertical-align: top;
        font-size: 16px;
        line-height: 70px;
        font-family: $font-header;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;

        span {
            display: inline-block;

            vertical-align: middle;
            line-height: 18px;
            }

        &:after {
            @include pseudo;

            width: 70px;
            height: 1px;
            margin-left: (-70px / 2);
            top: 0;
            left: 50%;
            position: absolute;

            background-color: #b2b2b2;
            }
        }

    .start-section_additional {
        width: 220px;
        height: 40px;
        margin: auto;
        display: block;

        background-color: #06c;

        font-size: 18px;
        font-weight: bold;
        line-height: 40px;
        color: #fff;
        text-decoration: none;
        text-align: center;
        }

    // .slider-section_additional li:hover {
    //     .img-item-section_additional {
    //         display: none;
    //         }

    //     p {
    //         display: block;
    //         }
    //     }

    .descr_full-preorder {
        @extend .descr-preorder;

        width: 800px;
        }
