.section_posibilities {

    ul {
        height: 100%;

        font-size: 0;
        text-align: center;
        }

    li {
        width: (100% / 3);
        height: 50%;
        display: inline-block;

        &:nth-child(2n + 2) {
            background-color: #f7f7f7;
            }
        }

    strong {
        margin-top: 240px;
        margin-bottom: 20px;
        display: block;

        font-size: 24px;
        font-family: $font-header;
        font-weight: bold;
        color: #000;
        -webkit-font-smoothing: antialiased;
        text-transform: uppercase;
        }

    p {
        width: 285px;
        margin: auto;

        font-size: 12px;
        line-height: 18px;
        }
    }
