.section_kit {}

    .nav-section_kit {
        width: 100%;
        top: 110px;
        position: absolute;

        text-align: center;
        font-size: 0;
        font-family: $font-header;

        li {
            display: inline-block;

            font-size: 14px;
            }

        a {
            width: 118px;
            margin: 0 10px;
            display: inline-block;

            border: 1px solid #fff;

            color: #fff;
            text-decoration: none;
            line-height: 28px;
            }

        ._active a {
            background: #06c;
            }
        }

    .title-section_kit {
        width: 100%;
        top: 405px;
        position: absolute;

        font-size: 48px;
        font-family: $font-header;
        font-weight: bold;
        text-align: center;
        color: #fff;
        -webkit-font-smoothing: antialiased;
        }

    .header-section_kit {
        padding-top: 70px;
        margin-bottom: -25px;

        font-size: 48px;
        font-family: $font-header;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
        }

    .descr-section_kit {
        width: 595px;
        padding-top: 480px;
        margin: auto;

        font-size: 22px;
        line-height: 32px;
        color: #fff;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        }

    .link-section_kit {
        width: 214px;
        height: 42px;
        margin: 50px auto 0;
        display: block;

        border: 3px solid #fff;
        background-color: #06c;

        line-height: 42px;
        text-align: center;
        font-size: 18px;
        font-family: $font-header;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        }
