.section_pair {
    position: relative;
    font-size: 0;
    }

    .half-section_pair {
        width: 50%;
        height: 580px;
        display: inline-block;

        vertical-align: top;

        font-size: 14px;
        }

    .title-section_pair {
        @extend .title-section;

        margin-top: 80px;

        text-align: center;
        }
