.section_complect {

    position: relative;

    background-color: #fff;

    strong {
        font-size: 36px;
        line-height: 40px;
        font-weight: bold;
        font-family: $font-header;
        -webkit-font-smoothing: antialiased;
        }

    p {
        font-size: 16px;
        line-height: 24px;
        }

    svg {
        // right: 225px;
        // position: relative;
        // right: 50%;
        // position: absolute;
        vertical-align: middle;
        }
    }

    .wrap-section_complect {
        width: 100%;
        top: 250px;
        left: 0;
        bottom: 50px;
        position: absolute;
        }

    .cont-section_complect {
        width: 100%;
        height: 480px;
        margin-top: -240px;
        top: 50%;
        position: absolute;

        overflow: hidden;

        text-align: center;

        $n: 10;

        ul {
            width: 100% * $n;
            height: 480px;
            position: relative;

            font-size: 0;
            text-align: left;

            @include transit(4);

            $i: 0;
            @while $i <= $n {
                &[data-state='#{$i}'] {
                    transform: translateX(-100% * $i / $n);
                    li:nth-child(#{$i + 1}) {opacity: 1;}
                    }

                $i: $i + 1;
                }
            }

        li {
            width: (100% / $n);
            height: 480px;
            display: inline-block;
            position: relative;

            opacity: 0;
            vertical-align: top;

            @include transit(8);
            }
        }

    .txt-section_complect {
        width: 455px;
        margin-left: -48px;
        top: 180px;
        left: 50%;
        position: absolute;

        text-align: left;
        }

    .img-section_complect {
        width: 480px;
        height: 480px;
        margin-right: 125px;
        top: 0;
        right: 50%;
        position: absolute;

        line-height: 480px;
        text-align: right;
        }
