.section_contacts {}

    .table-section_contacts {
        width: 100%;
        height: 100%;
        display: table;
        }

    .cell-section_contacts {
        display: table-cell;

        vertical-align: middle;
        }

    .cont-section_contacts {
        width: 500px;
        padding-top: 10px;
        padding-bottom: 94px;
        margin: auto;

        background-color: #f5f5f5;

        font-size: 16px;
        line-height: 24px;
        text-align: center;

        .title-section_pair {
            margin-bottom: 50px;
            }

        a {
            color: #06c;
            text-decoration: none;
            }
        }

    .block-section_contacts {
        margin-bottom: 24px;
        }
