.tabs {
    padding-top: 95px;
    position: relative;
    z-index: 2000;

    text-align: center;
    font-family: $font-header;
    font-weight: normal;
    font-size: 13px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;

    &._grayItems a {
        background-color: #f5f5f5;
        }

    a {
        padding: 0 25px;
        margin-left: -1px;
        display: inline-block;

        border: 1px solid #dcdcdc;
        border-width: 0 1px;

        line-height: 38px;
        color: #000;
        text-decoration: none;

        &:first-child {
            border-radius: 2px 0 0 2px;
            border-right: 0;
            }
        &:last-child {
            border-radius: 0 2px 2px 0;
            border-right: 0;
            }

        &._active {
            margin: -1px -0 -1px -1px;
            position: relative;
            z-index: 100;

            background-color: #0062c4;

            color: #fff;
            line-height: 40px;
            }
        }
    }

    .wrap-tabs {
        display: inline-block;

        border-radius: 2px;
        border: 1px solid #d9d2d2;
        // overflow: hidden;
        }
